[2018-04-14 19:29] jvassev opened #1 "Provide a default configmap name, overridable with the annotation"
A default configmap per namespace would remove the need to annotate every namespace. Also, very often deployments standardize on a configmap name.

[2018-04-14 19:42] #1 closed

[2018-04-16 21:00] jvassev opened #2 "Allow log ingestion for log files on disk"
Very often in legacy setup a container logs to the local filesystem and to stderr/stdout.
While docker captures the output it is not possible to get to those log file easily (for example an access log or java GC log).

For example this
[code]

should expand to something like this:
[code]

A few notes:

- probably only `emptyDir` volumes will be supported
- need to specify the --root-dir of the kub

[2018-04-28 20:36] jvassev commented on #2
Fixed with d9336ea.
Scheduled for release in v1.1.0.

[2018-04-28 20:36] #2 closed

[2018-04-28 20:39] jvassev opened #3 "Enable cross-namespace log sharing"
Very often logs from a shared component needs to be available to many consumers, for example access logs from an ingress controller.

The owner of the ingress controller should be able to share a portion of the log stream to any namespace that deploys ingress resources.

The logs receiver must be able to ignore or persist/process this peer traffic.

[2018-04-29 07:51] jvassev opened #4 "Support multi-valued tags"
Currently, to keep parser code simple this is not possible:
[code]

Users need to split their tag into two directives:
[code]

The usual space-delimited multi-valued tags should be supported too.

[2018-05-02 13:45] #3 closed

[2018-05-06 17:16] sneko opened #6 "Support custom SSL certificates"
Hi!

It would be great if we could define volumes through Helm chart.

For example I'm using this fluentd configuration to send logs to Elasticsearch cluster over HTTPS connection:
[code]

These files are stored in a ConfigMap, may the chart could leave the possibility to specify a ConfigMap name, and if it exists, mount the volume?

Thanks

[2018-05-07 20:16] jvassev commented on #6
@Sneko Elasticsearch's helm chart is really easy to extend - thanks for pointing out their solution!

Would you like to contribute it? We should have this for sure for 1.2.0 release, but now I am focused on log-stream sharing (#3).

Thanks,
Julian

[2018-05-08 09:39] sneko commented on #6
@jvassev by "extending" their chart, are you referencing to any sort of inheritance (like subchart...)?

Or you were asking me to add appropriate fields in your .yaml files?

Thanks

[2018-05-08 14:19] jvassev commented on #6
I think copying the relevant bit is fine. As our chart is in no way related to the `incubator/fluentd-elasticsearch` the only option is to use the same approach. It's hard to reuse code in Helm anyway.

[2018-05-08 23:55] sneko commented on #6
#7

[2018-05-08 23:55] #6 closed

[2018-05-18 06:16] mhulscher opened #9 "Add support for exception detection"
I was wondering if the following plugin would be compatible with the way kube-fluentd-operator handles message routing. Being able to parse and forward multi-line exceptions would be a great feature.

https://github.com/GoogleCloudPlatform/fluent-plugin-detect-exceptions

[2018-05-19 08:53] jvassev commented on #9
This seems like a very capable plugin - thanks for pointing it out.

One thing it requires is modifying the tag of the log events (`remove_tag_prefix`), otherwise it will create an infinite loop: the output of the plugin will be routed to the same plugin again. The problem with this is that the ** and $thisns macros will no longer work.

However we can workaround it with some rewriting and deeper

[2018-05-20 17:09] jvassev commented on #9
@mhulscher
I've implemented the approach outlined above in the `detect-exceptions` branch and got some good results using this stacktrace I found on the internet: https://gist.github.com/jvassev/59d7616d601d9c19e23b328e591546d8

Can you test in your k8s cluster using the  image `jvassev/kube-fluentd-operator:det-exc` and see if you are happy with the output?

The only change you need to make to th

[2018-05-22 14:29] CoufalJa opened #10 "Splitting control plane from DaemonSet"
Hi, this is some great stuff that I was missing for a long time. I have a question did you considered splitting the "control-plane" e.g. config-reloader out of the DaemonSet? It would be really powerful if one could use any compatible fluentd image with whatever plugins in a DaemonSet. Config reloader would take care of the configuration (which could be running as Deployment) while DaemonSet will

[2018-05-22 17:10] jvassev commented on #9
@mhulscher Do you think we can close this? any success with the `detect-exceptions` tag?

[2018-05-22 17:21] mhulscher commented on #9
I have not yet been in a position to test this myself. The added test passes which inspires confidence. I suggest to merge and close. And thanks for paying attention to the suggestion!

[2018-05-23 15:43] #9 closed

[2018-05-23 16:03] jvassev commented on #10
Hi @CoufalJa
I am happy you find this project useful.

The control plane is really decoupled from the fluentd: it just writes files to disk and can (optionally) force fluentd to reload its configuration. This is how the config-reloader is used: https://github.com/vmware/kube-fluentd-operator/blob/master/log-router/templates/daemonset.yaml#L51

You can integrate config-reloader into any fluentd as

[2018-06-01 18:23] jasonkeene opened #11 "Syslog based plugins fail because tag length is too long"
We've tried both papertrail and the remote_syslog plugins and both use the syslog_protocol gem that follows RFC 3164 which limits tag length to 32 characters. We were getting this stack trace in our fluentd container logs:

[code]

When we log out the tag it is:

`kube.demo.nginx-65899c769f-5zj6d.nginx`

which is indeed longer than 32 characters. This seems like a bug in the operator since it is c

[2018-06-02 14:48] jvassev commented on #11
Hi @jasonkeene,

That's definitely unfortunate - the tag is limited by the spec. Even if you have a server that is more lax, the syslog ruby library used by the `remote_syslog` plugin validates this strictly.

So, the best solution is to strip the tag of the unimportant bits. I've implemented a fix in https://github.com/vmware/kube-fluentd-operator/commit/faf533d887eef5d28a68d5ecf7c8d9199c8ec925 a

[2018-06-03 07:01] sneko opened #12 "Slack plugin support"
Hi :)

What do you think about supporting the Slack plugin? Is it legitimate for this fluentd operator?

https://github.com/sowawa/fluent-plugin-slack

Thanks

[2018-06-03 07:22] sneko commented on #12
In fact I'm not even sure if it's what I should do...

I would like to be notified of errors of my whole cluster and finally I'm thinking that it may be better if my ElasticSearch cluster was pushing notifications to Slack instead of Fluentd.

Do you have any advice to provide about that please 😃 ?

[2018-06-03 09:34] jvassev commented on #12
Hi,

While it's easy to add any plugin to the base image, I'd suggest to push any analytics up the stack. Fluentd and this project itself should be considered just a transport/pre-processing layer.

Imagine tomorrow you need to react on events coming from another source - you'd need to configure notifications there too. Instead, manage the notifications/alarms centrally at the ELK layer :)

[2018-06-03 20:30] sneko commented on #12
Thank you I will look into that 😀

[2018-06-03 20:30] #12 closed

[2018-06-07 12:35] jvassev commented on #11
I am closing the issue since the fix made into the v1.3.0 release. You can now use the v1.3.0 tag for the image as well.
Feel free to reopen if there are still issues with remote syslog.

[2018-06-07 12:35] #11 closed

[2018-06-19 06:08] nehalraf opened #14 "Config Reloading Process"
Hi guys, Thanks for this great project. I want to know if config-reloader restarts fluentd process or only reload configuration without restarting?

Thanks

[2018-06-19 08:16] jvassev commented on #14
Hi,

This problem is solved by Fluentd already - we just make sure to orchestrate the process.

When a config change is detected (different sha256 sum) after post-processing and normalization, the files are written to disk an Fluentd is restarted over its RPC endpoint. Have a look at this: https://github.com/vmware/kube-fluentd-operator/blob/master/config-reloader/templates/fluent.conf#L6

As for

[2018-06-20 17:09] #14 closed

[2018-06-20 17:10] jvassev commented on #10
Closing this for now. We can discuss approaches going forward.

[2018-06-20 17:10] #10 closed

[2018-07-03 08:54] jvassev opened #15 "Extreme validation"
Running fluentd with --dry-run only checks the general config format. If a plugin is misconfigured it will cause the daemon to exit.

Find a way to validate config by actually running fluentd with the config file being validated and catch any errors.

[2018-07-04 21:49] databus23 opened #16 "no hostname/nodename information logged"
I noticed that the events do not contain any hints from which node they were shipped. This makes it very hard to reason about systemd logs (e.g. which kubelet emitted this error?).
I think it would be generally good to have the node name attached to every log line emitted. This should be doable using the downardAPI and just handing the nodename via env/flag to the config generator.

[2018-07-04 22:20] databus23 commented on #16
So this sort of works:
[code]

[2018-07-05 08:30] jvassev commented on #16
Hi @databus23,
Information about kubernetes is nested under the "kubernetes" key - it's a core feature of the kubernetes_metadata plugin.
For example, a log event would look like this and what you need is `kubernetes.host`:

[code]

[2018-07-05 08:32] databus23 commented on #16
@jvassev But this is not available for logs from system units. How can I know which `kubelet.service` a log line comes from?

[2018-07-05 08:42] jvassev commented on #16
You're right, I didn't consider  systemd at all. I think https://github.com/vmware/kube-fluentd-operator/commit/58d18694693153fad1a1d7f3162a6f3ba77a85f4 should fix it.

[2018-07-05 08:46] jvassev commented on #16
I've just published the image `jvassev/kube-fluentd-operator:v1.4.0-5-g58d1869` with the change applied. Can you try with it by upgrading the daemonset?

[2018-07-05 09:15] databus23 commented on #16
@jvassev No it doesn't. I tried that `_HOSTNAME` host contains `localhost`

[2018-07-05 09:19] databus23 commented on #16
Reading this: https://github.com/fabric8io/fluent-plugin-kubernetes_metadata_filter#environment-variables-for-kubernetes

I think it makes sense in general to expose the nodeName as `K8S_NODE_NAME` to the fluentd process (if only as an optimisation).

I just thought that could also be used to annotate the systemd unit logs.

[2018-07-05 11:01] jvassev commented on #16
Are you sure the machines have their hostname configured properly? I've checked on several debian hosts and it looks good.

You can try `journalctl -o json-pretty`  and see the raw data before it reaches fluentd.

[2018-07-05 11:57] jvassev commented on #16
d819652 enables the K8S_NODE_NAME, thanks for the suggestion!
The chart version is bumped to 0.2.2.

[2018-07-05 12:46] databus23 commented on #16
@jvassev Ok, you got me. My cloud VMs had a metadata problem and default to `localhost` for the hostname...

[2018-07-05 13:00] #16 closed

[2018-07-05 13:11] databus23 opened #17 "default output plugin"
As far I see it, its not possible to define a default output plugin for everything.
What I'm looking for is to define something like this centrally after all the namespace specific configuration.
[code]

In our use case namespace or application owners shouldn't need to to know about elasticsearch endpoints, credentials, connection tuning parameters.
By default everything should be shipped as is to

[2018-07-05 14:07] jvassev commented on #17
@databus23

What you can do is configure the "global" match at the `kube-system` namespace. If you configure a `<match **>` at the kube-system then it _really_ matches everything - leaving nothing to the namespaces.
See this for example:
https://github.com/vmware/kube-fluentd-operator#a-note-on-the-kube-system-namespace

[2018-07-05 14:09] databus23 commented on #17
But I want folks to be able to define filter rules and stuff at a namespace level. I just don't want them to need to know how to actually ship the logs in our elastic search (They don't even know the credentials).

[2018-07-05 16:07] jvassev opened #18 "Enable Helm chart to pass extraEnv to fluentd"
This makes it possible to parameterize plugins using Fluent'd #{ENV['var_name']} syntax.

https://docs.fluentd.org/v0.12/articles/faq#how-can-i-use-environment-variables-to-configure-parameters-dynamically?

[2018-07-05 16:15] jvassev commented on #17
Yours is a valid use case.

At the moment, the only option you have is to instruct namespace owners to copy & paste a segment that reads configuration from the environment using this syntax: https://docs.fluentd.org/v0.12/articles/faq#how-can-i-use-environment-variables-to-configure-parameters-dynamically?
Then, you only need to set the `env` of the fluent container.  However, it's not possible to

[2018-07-05 19:35] #18 closed

[2018-07-05 19:36] #15 closed

[2018-07-05 21:04] jvassev opened #19 "Plugin macros"
Following the discussion in #17 a macro for output plugins is needed. Consider this example:
kube-system.conf:
[code]

When processing the config for the `demo` namespace, the `@type default_output` should be replaced with the definition of the plugin in the `kube-system` namespace:

[code]

All params defined at the call site override the parameters in the plugin definition. Also, all post-proces

[2018-07-06 11:23] jvassev commented on #17
@databus23
I've implemented the plugin macros feature from  #19 and I'd be happy to gather your feedback :)

Basically, you need to use this image to get the feature `jvassev/kube-fluentd-operator:v1.5.0-2-g025d688`. You should define the "default" output plugin in kube-system like this:
[code]

After that, other namespaces can refer to it easily:
[code]

kube-fluentd-operator is just replacing th

[2018-07-23 11:31] jvassev commented on #19
This feature is scheduled for release in 1.6.0. Closing the issue.

[2018-07-23 11:31] #19 closed

[2018-07-23 11:32] jvassev commented on #17
Plugin macros (#19) takes care of this now.

[2018-07-23 11:32] #17 closed

[2018-08-07 09:19] MartinAltmayer opened #23 "Failed to expand log record"
While fluentd-operator works great for most of my pods, the logs of some pods are lost. Instead I receive the following error messages in the fluentd logs. So far I did not find a pattern which pods are affected.

[code]

In fact, the "kubernetes" section does not contain any labels, although the pod is labelled.

The namespaces' fluentd-config is as simple as

[code]

With the following simple jo

[2018-08-07 13:19] jvassev commented on #23
I think what happens is there is an unlabelled pod in this namespace which causes kubernetes['labels'] to fail. I thought an empty map should be there instead.

I've pushed this fix to handle it: 2b26000. It j
You can use this image `jvassev/kube-fluentd-operator:v1.6.0-6-g2b26000` to test if this fixes the issue you've hit.

[2018-08-08 08:56] MartinAltmayer commented on #23
Thanks for your quick response!

Your fix solves the problem of logs being lost. However, there must still be an error somewhere because the logs have no labels, while the pod clearly has a label (see its definition above).

Unfortunately, without labels my filter configuration does not apply to the logs.

I also see the following warnings. While probably not directly related, they maybe hint at a

[2018-08-08 09:25] jvassev commented on #23
The warning is Fluentd complaining because of the legacy syntax you used. Have a look at https://docs.fluentd.org/v1.0/articles/filter_parser

You can rewrite the parser like this:
[code]
Can you try with this syntax?

As for the missing labels, can you make your Pod run for at least 30seconds (with `while true`). The k8s metadata is injected using this plugin https://github.com/fabric8io/fluent-p

[2018-08-08 11:51] MartinAltmayer commented on #23
When I increase the sleep in my test-pod to 30s I see the issue only very rarely. In the past fluent-plugin-kubernetes_metadata_filter had issues with short-running pods.
https://github.com/fabric8io/fluent-plugin-kubernetes_metadata_filter/issues/123
So I guess I will open an issue there.

I tried the <parse>-syntax, but then the namespace's fluentd-status annotation shows
[code]

It seems like s

[2018-08-08 12:09] MartinAltmayer commented on #23
Not sure, but I guess we can close this in favor of https://github.com/fabric8io/fluent-plugin-kubernetes_metadata_filter/issues/142. Thanks for your help!

[2018-08-09 22:24] sneko opened #24 "Some logs of the router should be display into stdout, no?"
Hi!

I'm trying to set some alerts from my ElasticSearch cluster when something happens on the stderr stream.

I just noticed that your Fluentd routers were writing on this stream for this kind of message:
[code]

Indeed the router considers it as "debug" so I guess it should go to the stdout stream, what are your thoughts?

Thanks!

[2018-08-09 22:56] sneko commented on #24
I set my "logLevel" to "info" in the chart but there is still remaining logs onto the stderr:
[code]

So I guess all router logs are written to stderr 😄

[2018-08-10 17:13] jvassev commented on #24
Yes, all logs from the `config-reloader` go to stderr. Currently there is no way to change this (some apps let you chose stderr or stdout as you noticed).

Well, I think it would be hard to come with a regex or rule that detects problems in all apps.
Instead try to be more specific and define a different rule for the different `kubernetes.labels.app` values.

For the the `log-router` app label you

[2018-08-12 12:16] #23 closed

[2018-08-15 18:10] #24 closed

[2018-08-15 21:10] sneko commented on #24
Yeah I think at first I will catch "error" word in messages and gradually implement more precise regexp depending on the app the log comes from.

Thank you @jvassev for your answer! It helps me to take a decision 😀

[2018-08-20 00:13] cw-sakamoto opened #26 "Attach original tag for 'mounted-file'"
When using ```mounted-file``` it will be tag ```kube.{namespace}.{pod_name}.{container_name}```, but I'd like to attach original tag(```kube.{namespace}.{pod_name}.{container_name}.mytag```).

example:
[code]
-> ```kube.{namespace}.{pod_name}.{container_name}.hello-log```

# Why?
I'd like to separate output process in the container with each tags.

example:
[code]
[code]
If you can do with the cur

[2018-08-21 08:12] jvassev commented on #26
Hi,
In general kube-fluentd-operator tries to step away from the fluentd tag. Instead, it promotes Kubernetes labels.

In your case however all the logevents come from a single pod meaning they share the same labels. So what can be done here is let users attach new labels to the `@type mounted-file` logs ike this:
[code]

Then you use the $labels macro to select the logs:
[code]

Indeed, this woul

[2018-08-21 14:26] jvassev commented on #26
@cw-sakamoto In my previous comment I assumed you have two log files produced by the same container in a single pod.
If the logs files are produced by different containers then you can solve your case even with the current version by using the `_container` meta-label:

[code]

[2018-08-21 16:14] jvassev opened #27 "Add `strict` mode for the logfmt parser"
Non logfmt-formatted events get split at at a whitespace.

A `strict true` parameter will ignore logfmt handling alltogether.

[2018-08-21 18:46] #27 closed

[2018-08-22 01:55] cw-sakamoto commented on #26
@jvassev Thanks for your comment.

You are right. I assume the same container.

It can be solved by https://github.com/vmware/kube-fluentd-operator/issues/26#issuecomment-414589744 , however I thought that it is difficult to distinguish from label of k8s itself by this writing style.

Under this basic idea, I think that my proposal(add fluentd tag) is difficult, so think a little more...🤔

[2018-08-22 05:41] cw-sakamoto commented on #26
This is just idea...add ```$labels``` meta_label ```_file```(or ```_path```) like ```_container```

[code]
or
[code]

What do you think this idea?

[2018-08-22 11:44] jvassev commented on #26
I thinks it's better to use `add_labels` because labels values have strict format validation. A path can contain `=`, `,`, ` ` which will confuse the $labels macro

[2018-08-27 07:34] cw-sakamoto opened #29 "Duplicate pos file path in fluent.conf with mounted-file"
I tried with the settings below, the fluentd container became crashLoopback.

Calcurating hash in https://github.com/vmware/kube-fluentd-operator/blob/master/config-reloader/processors/mounted_file.go#L110 seems to not use container id.

fluentd log
[code]

Deployment:
[code]

configmap for fluent.conf
[code]

/fluentd/etc/fluent.conf in reloader(fluentd)
[code]

[2018-08-27 14:25] jvassev commented on #29
Hi @cw-sakamoto,

Thank you for the detailed bug report. You've also located the issue. I've provided the fix in d96a7d6  - now the hash is built using the pod + container name.
You can try out this image tag: `v1.6.0-17-gd96a7d6`

[2018-08-27 14:26] jvassev commented on #26
The `add_labels` feature is now merged.

[2018-08-27 14:26] #26 closed

[2018-08-29 07:51] cw-sakamoto commented on #29
Thanks! I confirm fixed.

[2018-08-29 07:51] #29 closed

[2018-08-29 21:48] cw-sakamoto opened #33 "'Add_labels' in mounted-file do not work"
Sorry for my late confirm. I found bug in ```add_label```(https://github.com/vmware/kube-fluentd-operator/issues/26).

Looking at the ```fluent.conf``` generated using ```add_labels```, it seems that the same tag is attached to tail directive for separate add_labels.
This seems that ```record_modifer``` is executed twice, ```remove_keys``` in ```record_modifer``` deletes the first ```dummy_```, an

[2018-08-31 11:09] sermilrod opened #35 "jvassev/kube-fluentd-operator:v1.7.0 is missing"
Documentation to install the operator points to use v1.7.0 but there is no docker image available. I have to choose latest or v1.6.0.

Can you push the image please? There is no documentation in Docker Hub either about how the image got built. A link to the Dockerfile will be also good.

[2018-08-31 13:04] jvassev commented on #35
Thanks for pointing this out. I've pushed `v1.7.0` tag to Docker hub.
The Dockerfile itself cannot be linked as the image push is not automated but performed by a CI job.
Nevertheless, I've linked the project's github page

[2018-08-31 13:04] #35 closed

[2018-09-03 09:17] sermilrod commented on #35
Thank you very much!

[2018-09-03 12:34] #33 closed

[2018-09-03 12:42] jvassev commented on #33
The tag `v1.7.0-5-g0e82796` is available for testing.

[2018-09-05 06:10] cw-sakamoto commented on #33
I confirmed that it moves as expected! Thanks.

[2018-09-28 14:11] jvassev opened #37 "Support externalized secrets"
In pure Fluentd one can use `#{ENV['LOGZIO_TOKEN']}` to get a value from the environment.

This is not usable in a multi-tenant setup like kube-fluentd-operator.

Instead, kube-fluentd-operator would need to support a similar syntax, for example:
`#{SECRET['my-secret']['token']}`. This would presumably get a `token` from a secret named `my-secret` in the same namespace.

The `SECRET` syntax would

[2018-10-24 21:06] bcottinghamae opened #38 "detect_exceptions plugin is missing"
I installed using the Helm chart and the copy/paste instructions in the README. I have the following config file:
[code]

Which produces this error:

[2019-01-03 12:42] jvassev opened #46 "mounted-file logs missing Docker and kubernetes metadata"
`kubernetes.container_image` and `docker.container_id` must be populated for logs originating from mounted-file sources.

[2019-01-06 11:56] #46 closed

[2019-02-14 06:30] HarishHothi opened #47 "Multiprocess Input Plugin support"
Hi,
   @jvassev Do you think adding [multiprocess](https://docs.fluentd.org/v0.10/articles/in_multiprocess) support will be good addition?
   By default fluentd uses single cpu and multiprocess input plugin is recommended for [performance-tuning](https://docs.fluentd.org/v0.10/articles/performance-tuning) .

[2019-02-21 13:12] jvassev commented on #47
Hi @HarishHothi,

It seems Multiprocess has been superseded by Workers (https://docs.fluentd.org/v1.0/articles/multi-process-workers)
However, Workers needs to be handled with care because some plugins require specific configuration when used with workers.

[2019-02-22 09:20] HarishHothi commented on #47
Thank you @jvassev I will look into it :) , Currently base image points fluentd v1.2.6, any near plans to update it to latest version?

[2019-03-11 08:56] lemaral opened #48 "Tail arbitrary host file in /var/log ?"
Having enabled kube-apiserver auditlog, I would like to send it to a specific index, but I don't seem to find a working way to specify an arbitrary absolute host file, and I don't want to go back to plain ol' fluentd.
Maybe it's human or doc issue :)
Thanks!

[2019-03-11 13:02] jvassev commented on #48
Hi @lemaral,

The recommended way to do so is at the kube-system namespace level. It is not processed/validated so there you can tail arbitrary log files in /var/log (any folder indeed but the /var/log is already mounted on the pod so less work for you).

I recommend you enable json-formatted audit logs. Then add this to the kube-system's config-map:

[code]

Then you can `<match k8s.audit>` and s

[2019-03-11 16:20] lemaral commented on #48
Hi @jvassev
This works perfectly :)
Thank you very much for log-router and the detailed answer.

[2019-03-11 16:20] #48 closed

[2019-03-12 16:37] #38 closed

[2019-03-13 11:54] matti opened #49 "journal source by default"
When installing with

[code]

the `kfo-log-router` pods produce a lot of
[code]

because (?) the default `/fluentd/etc/systemd.conf` has:
[code]

I don't undertand why `kube-fluentd-operator` that is installed with helm has this kind of setting by default?

[2019-03-14 18:00] jvassev commented on #49
The journal is captured because systemd is now the prevalent init system.
I was thinking better enable it by default than document how to enable it because the majority of distros use journald.

Are you using a distro without systemd or the journal is not on its default location?

[2019-04-04 10:06] HarishHothi opened #50 "Update fluentd Image"
Hi @jvassev  Fluentd released its 1.4.2 version. Kube-fluentd operator also should be updated with 1.4.2 fluentd version.

[2019-04-04 10:06] #47 closed

[2019-04-13 07:50] vsakarov opened #56 "Allow labels in copy output"
Currently there is a restriction that **relabel** output can be used only in **match**. But when using copy output it is positioned in **store** directive. This is valid use case if you want to split the output and perform additional modifications.

[2019-04-13 08:00] vsakarov opened #57 "Add fluent-plugin-bufferize plugin"
Currently if you use https://github.com/toshitanian/fluent-plugin-out-http-ext there is no mechanism for retrying and failed requests. fluent-plugin-bufferize is the helper plugin to achieve this functionality.

P.S. fluent-plugin-out-http-ext is deprecated, so you might think of adding https://github.com/fluent-plugins-nursery/fluent-plugin-out-http .

[2019-05-20 10:57] apu1111 opened #60 "Supporting Multi Process Workers"
Hi,
Any plans to support workers config under <system> directive and <worker N-M> directive as fluentd already supports it?

https://docs.fluentd.org/deployment/multi-process-workers

<system>
  workers 4
</system>
# work on multi process workers. worker0 - worker3 run in_forward
<source>
  @type forward
</source>
# work on only worker 0. worker1 - worker3 don't run in_tail
<worker 0>
  <source>

[2019-05-30 08:11] jvassev commented on #60
Hi,
I am still trying to figure out a way to do so. The problem I'm facing is that there is a single `<source>` : the /var/log/containers/*.json and it afaik it's not possible to "split" a single source across worker.

The only solution I can think of is to generate a fixed number of source and point them to a subset of log files, for example:
[code]

What's your take on this?

[2019-05-30 08:12] #49 closed

[2019-06-11 06:58] apu1111 commented on #60
Hi,
IMO, tailing only few log files per worker as per above proposal would be overkill. According to performance analysis of [fluentd](https://github.com/fluent/fluentd-benchmark), tail and forward together can comfortably work on 75k-80k lines per second. So my proposal would be to implement it like below...

1. Upgrade to Fluentd 1.4 - This gives us the `<worker N-M>` directive support. It would

[2019-06-12 20:40] davydkov opened #62 "Plugin macros does not preserve defined buffer configuration"
I have defined macros in kube-system:

[code]

in namespaces
[code]

Generated config is
[code]
I expect that macros keeps buffer configuration

[2019-06-14 08:20] jvassev commented on #62
Hi @davydkov,

Thanks for reporting this issue! It's a bug - no nested content was ever expanded when using `<plugin>`.
This is the fix: https://github.com/vmware/kube-fluentd-operator/commit/76a21809707ab7ff1697552386729e6993d70836

You can verify the fix by upgrading to this pre-release image `jvassev/kube-fluentd-operator:v1.9.0-2-g76a2180`

[2019-06-24 09:08] jvassev commented on #50
This is scheduled for the next minor release. We'd like users to migrate to 1.10 and adopt the now built-in `parser` plugin first.

[2019-06-25 03:10] uipo78 opened #66 "Unknown filter plugin `parse`"
For any of the examples in the documentation with `@type parse`, the `reloader` logs show this message:
[code]

One of the examples from the documentation:
[code]

Any idea why that error hasn't shown up for you all?

[2019-06-25 03:16] uipo78 commented on #66
I should've read the changelog for v1.9.0, doh. `@type parse` is no longer a thing.

Hopefully no one makes the mistake that I just made!

[2019-06-25 03:16] #66 closed

[2019-06-26 11:49] davydkov commented on #62
Verified! Thanks
This issue can be closed

[2019-06-26 11:49] #62 closed

[2019-06-26 21:20] jvassev commented on #66
Thanks for pointing this out. I need to fix the README too.

[2019-07-03 10:03] apu1111 commented on #60
@jvassev Any thought on this? It will be difficult to support multi-worker model without upgrading to fluentd 1.4, but I don't see fluent-plugin-google-cloud supporting it soon (I can work on fluent-plugin-vertica and fluent-plugin-verticajson to make them compatible).

[2019-07-11 18:14] jvassev commented on #60
Hi @apu1111,
Sounds like a plan. It seems like upgrade to 1.4 is long overdue now.

How can we make sure that plugins which are not worker-safe still work - event if performance is worse?

As for the few plugin that you mentioned which cant work in 1.4, I am fine with temporarily disabling them. Their users can still deploy previous versions.

[2019-07-12 09:48] apu1111 commented on #60
Hi @jvassev ,
Cool. I will start working on this then. According to the plan, I will start with upgrading to Fluentd 1.4 and then move to making sure all the plugin works fine with multi-worker. Next task will be to add the config options and changing the code to make it work.

If fluentd doesn't complain about a plugin during starting in multi-worker mode, we can assume the plugin supports multi-

[2019-07-17 14:29] james-crowley opened #69 "libjemalloc Arch Issue and Installed Already"
I am working on porting this Helm Chart and the respective Docker containers to s390x. I noticed in the Docker container you set `ENV LD_PRELOAD="/usr/lib/x86_64-linux-gnu/libjemalloc.so.1"`. This would not work for s390x since the path is slightly different, `ENV LD_PRELOAD="/usr/lib/s390x-linux-gnu/libjemalloc.so.1"`. It is a small change to make and not a huge issue, but I am a little confused

[2019-07-17 21:24] jvassev commented on #69
Hi,
The current Dockeril pulls libjmalloc from apt.
I see I've left a pointer to this in the dockerfile: https://packages.debian.org/stretch/amd64/libjemalloc1/filelist

When you say you are porting to s390x, do you mean changing the base image from debian to something else? If so, you can also change the LD_.. line as part of the port.

[2019-07-18 17:34] james-crowley commented on #69
@jvassev As for porting, I built the base image of `fluentd:v1.2.6-debian` since it does not have s390x in the manifest. Now I need to make sure your container works on s390x.

One of the issues, as I mentioned, is the `LD_PRELOAD` path. Why are you install libjmalloc again, if the base image already has it installed?

[2019-07-18 20:29] james-crowley commented on #69
After some testing, I found that the install of libjmalloc via apt is unneeded. In my test I removed the package from the list of packages to install. Additionally, I removed the exporting of `LD_PRELOAD` sense the base images already includes the export pointing to the version of libjmalloc they installed.

@jvassev I am not sure why you need to install another version of libjmalloc and export `L

[2019-07-18 22:17] jvassev commented on #69
You are right the base image contains a pinned version of jemalloc. Let's use what's in the base fluent image.
Can you submit a PR that deletes the package installation and customizing the LD_.. ?

[2019-07-19 15:45] james-crowley commented on #69
@jvassev Just submitted the PR.

[2019-07-21 08:41] #69 closed

[2019-07-23 16:02] james-crowley commented on #50
@jvassev I see you are preparing for release `1.9.0`, is this going to include the update to Fluentd `1.4.2`? Or is that intended for `1.10`?

I ask cause multiarch support for Fluentd is only support on `1.4` and up. I would like to get this operator to run natively on `s390x` without any modifications, but in order to do so we need to pull from the multiarch image. Here is the link to the docker

[2019-07-23 19:01] james-crowley commented on #50
I also discovered that the `fluent-plugin-google-cloud` seems to require Fluentd `1.4.2`. Here is the [link](https://github.com/GoogleCloudPlatform/fluent-plugin-google-cloud/blob/509af56b5c614b887ad3ebfe24c2409706b602fa/fluent-plugin-google-cloud.gemspec#L22). I am still pretty new to Fluentd and Ruby but it seems like it says its requiring Fluentd runtime of `1.4.2`.

[2019-07-24 20:26] jvassev commented on #50
1.9.0 will be the last release with fluent 1.2. 1.10 will handle the upgrade to latest fluentd and any issues it may bring.

[2019-07-24 20:29] james-crowley commented on #50
@jvassev Do you have an ETA when v1.10 will be ready? Also, is there anything I can do to help with testing v1.10.0? Fork and try out Fluentd 1.4.2?

[2019-08-01 18:08] nehalraf opened #73 "carriage return & new line"
Hi,
I am using kfo to get container stdout logs from file system. When KFO read the log it also append "\r\n" (sometime only "\n") at end of each "log" json filed. Can you please fix template to remove it and tell me intermediate fix ?

Thanks

[2019-08-15 14:33] james-crowley commented on #50
@jvassev In the meantime, would you mind commenting on this issue, https://github.com/fluent/fluentd-docker-image/issues/189. Maybe with a comment from you, we could gain some more traction to get Fluentd 1.2.6 a multi-arch release.

[2019-08-22 09:01] jvassev commented on #50
Hi all,
I've upgraded fluentd to 1.5.2. This required also a small change to the helm chart.
Can you try running with `jvassev/kube-fluentd-operator:v1.9.0-13-g2516f56` and with the new helm chart?
Only the vertica has been removed as it fails to compile with the new Ruby version.

[2019-08-23 18:03] jvassev commented on #50
I've added a Gemfile to pin the fluentd version and ensure the latest compatible plugin get installed during build.

I am planning to release 1.10.0 with fluentd-1.5.2 support this weekend and target 1.6.x for the next release.

[2019-08-26 08:54] #50 closed

[2019-08-26 09:00] jvassev commented on #73
Hi,
I think the \n or \r\n is really part of the container stdout output. Docker just wraps each and every line of stderr/stdout output in a JSON object.

You can do some manipulated before ingestion using a `<filter>` https://docs.fluentd.org/filter/record_transformer.

I'd give this a try:
[code]

[2019-08-28 09:29] #57 closed

[2019-08-28 09:30] jvassev commented on #57
Thanks for the deprecation notice.
The old plugin `fluent-plugin-out-http-ext (0.1.10)`  is now replaced with `fluent-plugin-out-http (1.3.1)`

[2019-09-13 16:01] uipo78 opened #74 "Error on startup v1.10.0"
When I deploy the fluentd-operator to my cluster, I receive this error:

[code]

Not entirely sure of the source of this problem.

[2019-10-01 20:15] rjackson90 commented on #74
I experienced this error while I was messing around with the operator. In my case, I tried to use a chart version which was too old. Upgrading to `1.10.0` fixed it for me. I don't pin the version of the container being used, and the chart defaults to `latest`. So if you don't want to upgrade your chart version you could try pinning to an older container image by specifying the following in your He

[2019-10-02 11:01] jvassev commented on #74
@uipo78 My bad, I forgot to mention this change in the changelog: https://github.com/vmware/kube-fluentd-operator/commit/2516f56b0d78691ce949b0952a699f861509d909

For 1.10 and above the upgraded helm chart must be used: https://github.com/vmware/kube-fluentd-operator/releases/download/v1.10.0/log-router-0.3.2.tgz

[2019-10-04 06:12] jvaibhav123 opened #77 "Kube system namespace logging"
Dear Team,

I am not sure if this is right channel to address the issue related to kube system namesapce logging to cloudwatch however, we are kind of stuck in our environment where we want only kube system namespace logs to cloudwatch. Currently as per documentation if we define the logging at kube system namespace then it will also consider other namespaces for logging.
We have kind of more than

[2019-10-16 07:38] YanzhaoLi opened #78 "Will fluentbit be supported?"
Will this project support using FluentBit?

[2019-10-21 11:25] jvassev commented on #78
Probably not in the foreseeable future. KFO is pretty coupled to the Fluentd configuration language and a few of its plugins. Fluentbit is probably worth a project of its own with none of the assumptions/trade-offs that I did for Fluentd.

[2019-10-25 17:19] #77 closed

[2019-11-08 15:51] M0nsieurChat opened #83 "Support for CRI-O container output format"
When using any other runtime than docker, kfo log router spams this error message :
[code]
This has been resolved by fluentd community, see :
https://github.com/cri-o/cri-o/issues/897

How can we apply this patch for this operator ?

Many thanks,

[2019-11-10 17:24] jvassev commented on #83
@M0nsieurChat We've just merged https://github.com/vmware/kube-fluentd-operator/pull/80 which adds support for cri-o.
You can give it a try by just changing the template on the running container or building on top of the published image.

[2019-11-12 08:51] M0nsieurChat commented on #83
Thanks for the quick answer, it works indeed when building on top of the published image.

Cheers !

[2019-11-12 08:51] #83 closed

[2019-11-12 14:41] kkapoor1987 opened #85 "Can we use fluentd cloudwatch plugin where I can stream logs directly to AWS CloudWatch"

[2019-11-12 21:18] kkapoor1987 commented on #85
@jvassev Is is possible to pass only part of the config via ns and use rest of it from kube-system. I am specically thinking in terms of AWS creds. We want to use them from base config?

[2019-11-18 04:29] #85 closed

[2019-11-18 10:28] #78 closed

[2019-11-18 10:28] #74 closed

[2020-01-03 17:31] anothersrewhocancode opened #95 "helm install fails"
[centos@ip-172-31-4-30 ~]$
[code]

any reason why i get this error.
how can i fix this.

Thanks any help would be appreciated.

[2020-01-09 19:58] sneko opened #96 "Update of fluent-plugin-google-cloud?"
Hi,

`fluent-plugin-google-cloud` seems really outdated and I was wondering if you could update it? I got some troubles using it (https://github.com/GoogleCloudPlatform/fluent-plugin-google-cloud/issues/364). I see the Gemfile in the repository but I guess the version is specified inside the Gemfile.lock that was not committed, right?

Your README.md indeed says the version of this plugin is 0.4.1

[2020-01-10 14:20] sneko commented on #96
A the end I patched the image as I can.

[code]

[2020-01-10 14:48] sneko commented on #96
As explained in the README.md, it seems when configuring `kube-system` it works since no process in made on the file, compared to other namespaces...

I don't know how the schema is parsed for plugins.
https://github.com/vmware/kube-fluentd-operator/blob/master/config-reloader/generator/generator.go#L189-L202

I could set an empty value for `cfg.FluentdValidateCommand` so no validator if created.

[2020-01-10 16:39] jvassev commented on #96
Hi @sneko ,
Unfortunately the gem spec for the google_cloud plugins requires a very specific version of fluentd: https://github.com/GoogleCloudPlatform/fluent-plugin-google-cloud/blob/master/fluent-plugin-google-cloud.gemspec#L22. It may work on multiple version though.

Compare this to the cloudwatch plugin which declares it can works with multiple versions: https://github.com/fluent-plugins-nurs

[2020-01-10 17:01] jvassev commented on #95
Hi, this MR https://github.com/vmware/kube-fluentd-operator/pull/94 fixes the helm chart.

[2020-01-10 17:07] sneko commented on #96
@jvassev thank you for the detailed answer!

I just pinged them on my issue on their repo, maybe this can be fixed 😃

[2020-01-10 17:07] #96 closed

[2020-02-07 04:08] cw-sakamoto opened #98 "Does not match for labels containing ."
I want to log epoxrt the following application(external-dns), but because of the dot in the label, it cannot be matched well. Is there any better way than adding a label without dots?
https://github.com/helm/charts/blob/master/stable/external-dns/templates/_helpers.tpl#L35-L40

[2020-02-13 07:54] evilrussian opened #99 "Support of custom priorityClassName"
It will be nice if you add define of custom priorityClassName in DaemonSet of kfo in helm chart.
For example in daemonset.yaml:
[code]
values.yaml:
[code]

[2020-02-13 07:59] evilrussian opened #100 "Support generating of ServiceMonitor"
Please add feature of generating ServiceMonitor in helm chart.
For example, in values.yaml
[code]

[2020-02-14 11:51] moshloop opened #101 "Move docker image to org account"
Artefacts shouldn't be hosted in an individuals account if the repo is owned by the org.

If using a vmware docker account is problematic, using the github docker registry with github actions might be a good alternative.

[2020-03-20 08:55] evilrussian opened #105 "Fluentd-reloader operator eats all inodes on kubernetes worker node"
We have jvassev/kube-fluentd-operator:v1.11.0

reloader makes too many SERVERENGINE_SOCKETMANAGER files in tmp.
For example it made 14 files for 10 seconds:
[code]
And after month we had insufficient inodes on kubernetes workers.

Top inodes used overlays on node:
![image](https://user-images.githubusercontent.com/46709294/77148781-464dbc80-6aa1-11ea-99a4-ab6e7dd79bfa.png)

It is reloader:
[code]

[2020-03-20 18:34] sb1975 opened #106 "How to use the kube-fluentd-operator to run separate instance of Fluentd - one for Infrastructure and another for Applications"
Is your feature request related to a problem? Please describe.
Need a solution for Fluentd in a multitenant environment, specific concern is Whether we can restrict a separate Fluentd instance for each tenant in its own namespace.
A simple scenario : Keep Infrastructure and Application pods separate.
run separate instance of Fluentd - one for Infrastructure and another for Applications.
Describe t

[2020-03-27 15:35] raja-gola opened #107 "Kube-system logs filtered out due to incorrect config"
This is config the defined in templates (config-reloader/templates/kubernetes-postprocess.conf)
[code]

But this is the config generated by the fluentd-operator.

[code]

If I remove above config from the templates, build and deploy it on k8s cluster, logs from kube-system **are** streaming to remote LogInsight. And if the config is present in the above template, kube-system logs **aren't** stream

[2020-03-28 07:51] raja-gola commented on #107
Issue seems to be with `fluent-plugin-vmware-loginsight` plugin. Hence closing.

[2020-03-28 07:51] #107 closed

[2020-03-31 09:14] raja-gola opened #108 "Outdated fluent-plugin-kubernetes plugin causing parsing issues"
`fluent-plugin-kubernetes` plugin is outdated with it's last commit in 2015 and is causing below issue. Also `fluent-plugin-kubernetes_metadata_filter` does the job of adding k8s metatdata for us, can this plugin be removed.

Below config in `config-reloader/templates/kubernetes-postprocess.conf` causes the issue

[code]

Issue explained:

Consider log event as below:

[code]

When the above filte

[2020-04-01 03:20] raja-gola commented on #108
Even below config needs an update. From fluentd contianer logs.

[code]

[2020-04-02 16:16] carpenterm commented on #4
Fixed in https://github.com/vmware/kube-fluentd-operator/pull/87

[2020-04-02 16:16] #4 closed

[2020-04-02 16:20] carpenterm commented on #56
Fixed by https://github.com/vmware/kube-fluentd-operator/pull/86

[2020-04-02 16:21] #56 closed

[2020-04-02 16:21] #95 closed

[2020-04-02 16:43] carpenterm commented on #101
Thank you for the suggestion, we are aware of this issue and will be working to correct it for the next release.

[2020-04-02 16:49] carpenterm commented on #106
@sb1975 the goal of KFO is to enable multiple teams using different namespaces to use a single instance of Fluentd. Could you please explain why you would need separate Fluentd instances?

[2020-04-05 10:21] SerialVelocity commented on #105
If you need a workaround for now, it looks like not specifying the `--fluentd-binary` flag fixes this.

I guess this is a bug in fluentd but maybe vmware could provide a code workaround which does an `rm` for now? :)

[2020-04-17 15:44] tptignor opened #113 "Service crashes on duplicate IDs"
Hi. We just discovered this operator and it's been very impressive so far. However, we did see a bug through the use of ID fields which I wanted to report. The first error occurred when using similar filter blocks in two different namespaces, each of the form:

[code]

After changing the IDs for one of the ConfigMaps, I found myself still facing this second error. This was caused by the universal

[2020-04-17 15:49] clearascloud commented on #113
We will try and recreate this - thank you

[2020-04-29 00:56] Ramneekkhurana opened #114 "elasticsearch secret handling"
any suggestions on how we can securely pass secrets to configmaps ( example elastic search secerets )

[2020-04-29 13:00] Ramneekkhurana commented on #37
Hey Jvassev, do you have any design in mind for this, may be I can help working on this enhancement ?

[2020-04-29 13:17] clearascloud commented on #37
We havent taken this one on @Ramneekkhurana and certainly worth having - it is still an open issue of course. FYI @jvassev is no longer at vmware and doubtful of any further updates. The team that owns this within VMW will be looking at all issues on this project though and it is certainly alive.

If you want to take this one on that would be great!

[2020-04-30 05:48] dimalbaby commented on #108
@raja-gola,  '@type kubernetes' is not from the outdated fluent-plugin-kubernetes plugin. This is a custom parse plugin loaded from /etc/fluent/plugin directory. We are using fluent-plugin-kubernetes_metadata_filter plugin for getting the k8s meta.
I agree with your second point. I think these  merge_json_log, preserve_json_log parameters are removed as per https://github.com/fabric8io/fluent-plug

[2020-04-30 07:51] evilrussian commented on #105
@SerialVelocity, workaround is working.

For experiment i rolled back to jvassev/kube-fluentd-operator:v1.9.0 version of operator with fluentd 1.4.2 - old version has problem too ( not new problem )
[code]

[2020-05-05 20:48] sb1975 commented on #106
@carpenterm , our use case is as mentioned above :
Isolation of Infrastructure namespaces (infrastructure pods ) with other Tenant namespaces (pods)
Lets say I have some infrastructure components running within namespaces like kube-system,prometheus,openstack,undercloud,ceph
and also I need to continue to capture the logs from the host:
    /var/log/auth.log
    /var/log/calico/audit/tsee-audit.lo

[2020-05-12 18:43] dimalbaby commented on #101
We have addressed this issue and moved to vmware account

Thanks,
Dimal

[2020-05-12 18:43] #101 closed

[2020-05-13 14:01] #99 closed

[2020-05-13 14:01] #100 closed

[2020-05-15 12:51] rtfpessoa opened #119 "Reloader seems to not retry after failure with outputs"
After using this operator with s3 output.
If s3 is not available immediatly when the reloader starts it will never work.
Seems like it could restart or just fail and let k8s handle the restarts.

Basically if I restart the pods they start working.

Any ideas on how imporve.fix this behaviour?

[2020-05-19 11:33] dimalbaby commented on #119
@rtfpessoa Thank you reporting the issue. Did you get a chance to try with the latest fluentd-operator https://github.com/vmware/kube-fluentd-operator/releases/tag/v1.12.0 ?
Are you setting the  parameter`  --interval=60` ?

[2020-05-20 09:30] rtfpessoa commented on #119
We did some changes like using `check_apikey_on_start`, `check_bucket` and `retry_forever` in the s3 plugin and seems like it is better.
Possibly not a problem of the operator then.
Thank you

[2020-05-20 09:30] #119 closed

[2020-05-20 17:56] abinatarajan opened #120 "Ability to specify tag for mounted-file"
currently even if we specify a tag for mounted-file it is reset back to "kube.%s.%s.%s-%s", state.Context.Namepsace, mc.PodName, mc.Name, pos.. Instead it should use if there is one specified

[2020-05-21 19:18] carpenterm opened #121 "High CPU usage on fluentd pods and Kubernetes API server"
Lately we have seen a large increase in CPU usage on the Kubernetes API server and kube-fluentd-operator pods. Restarting either the API server or KFO causes the CPU to drop but then it picks backup again after 30-40 mins.

Recent testing has isolated the issue to the kubernetes metadata filter plugin - more info can be found here https://github.com/fabric8io/fluent-plugin-kubernetes_metadata_filt

[2020-05-25 21:59] kkapoor1987 commented on #121
@carpenterm @dimalbaby If no one is working on this I can send the PR for to pin the version to 2.4.1?

[2020-05-25 22:03] clearascloud commented on #121
Hey, we are working on this its in our labs And appears successful in reducing CPU, we can cut a new release with this fix, hopefully pretty soon. Thanks !

[2020-06-04 13:05] kkapoor1987 commented on #121
@tjorourke Would recommend us to run custom image for now with 2.4.1 plugin version ?

[2020-06-04 13:08] tjorourke commented on #121
Yes we have seen this resolves it, we are still working on some other issues and will vut a build as soon as we can. cc @dimalbaby

[2020-06-04 17:42] kkapoor1987 commented on #121
@tjorourke  thanks for the reply. We can run the custom image for little while

[2020-06-08 21:01] rvesselinov opened #124 "Unable to deploy log-router with Helm"
Following the steps from documentation https://github.com/vmware/kube-fluentd-operator#try-it-out
the log router fails to start:
[code]
as the 'reloader' container errors:
[code]
The flag '--admin-namespace' seems legit: https://github.com/vmware/kube-fluentd-operator#synopsis but the change https://github.com/vmware/kube-fluentd-operator/pull/118/files is not available in image.tag v.1.12.0

[2020-06-09 08:02] dimalbaby commented on #124
@rvesselinov, The new field was added very recently and it was not available in the latest tag. We need to build the new image to support this. We will make sure that process going forward
Can you try removing the following field temporarily ?
  --admin-namespace="kube-system"

[2020-06-09 12:21] rvesselinov commented on #124
@dimalbaby I workaround-ed the issue by cloning the git repo to the v1.12.0 tag

[2020-06-10 18:22] kkapoor1987 opened #125 "Migrate to official splunk plugin GEM"
In our testing, we found that the current Splunk plugin is not officially supported by Splunk and the maintainer is not actively working on it.

I would like to propose to migrate to the official Splunk plugin
https://github.com/splunk/fluent-plugin-splunk-hec

I am more than happy to submit the PR for the same.
@dimalbaby Thoughts ?

[2020-06-15 16:17] mg03 opened #126 "Metrics by namespace"
Hi

I am curious to know if I can get metrics by namespace. For example, how many log lines or bytes are generated from workloads in a namespace?

Any example/s would be greatly appreciated on how to achieve the above

Regards

Meher

[2020-07-01 18:51] dkowsley commented on #114
fluentd is ruby so you can interpolate environment variables into the files:
[code]

[2020-07-08 12:28] johnpemberton opened #127 "Deployment rather than daemonset for Fluentd for scenarios where you have a broker in between."
Appreciate this may be a little bit niche and possibly outside the scope of this project, but we're currently looking at a logging architecture whereby we run a fluentbit deamonset, who's responsibility is to ship logs off nodes as quickly as possible to a broker like kafka.  We would then run a fluentd deployment, who's responsibility is to read from kafka, parse the logs and route to the respect

[2020-07-31 19:22] tsunny opened #128 "Investigate Github actions for build instead of travis."
Investigate Github actions for build instead of travis.

[2020-08-06 06:08] dimalbaby commented on #121
The issue got fixed with the above MR

[2020-08-06 06:08] #121 closed

[2020-08-06 06:09] #124 closed

[2020-08-14 11:07] floriankoch opened #137 "Support for Docker partial logs"
Docker splits logs into multiple lines if a log line is bigger than 16k

This can be merged with the concat plugin

example:
<filter **>
  @id filter_concat
  @type concat
  use_first_timestamp true
  key log
  multiline_end_regexp /\n$/
  separator ""
</filter>

Any objections against this?

[2020-08-14 11:16] floriankoch opened #138 "exclude fluentd logs from in_tail"
Any objections to add this derective to in_tail?

exclude_path ["/var/log/containers/fluentd*"]

It excludes tailing fluentd own logs
https://github.com/fluent/fluentd-kubernetes-daemonset/issues/364

[2020-08-26 10:44] Alex77g commented on #124
branch master still facing this issue

[2020-08-28 05:08] dimalbaby commented on #124
@Alex77g Are you using the latest chart ? Can you share the error message ?

[2020-08-31 01:32] kkapoor1987 opened #139 "pos file name for container logs"
We are seeing the issue where if log-router pod is recreated it is creating new pos for containers it is tailing the logs. Is this the expected behavior?

Seems like this is where pos file is created here for the logs.
https://github.com/vmware/kube-fluentd-operator/blob/master/config-reloader/processors/mounted_file.go#L120

Example Log-router pod Name: fb412937-10d7-4f62-8e53-26c9b099f431-log-ro

[2020-09-15 08:34] chetnuy opened #140 "Not working check config ./validate-logging-config.sh"
./validate-logging-config.sh dir
/bin/validate-from-dir.sh: line 17: find: command not found

In docker images not find util

[2020-09-17 10:51] paulbarbu commented on #124
Same here, using master:
[code]
It is exactly like @rvesselinov explains.
Same 1/2 readiness state (the `fluentd` container starts, `reloader` does not).
Same error message:
[code]

[2020-09-22 11:32] paulbarbu opened #141 "journald logs from systemd missing"
Hello,
I installed the operator and I can see my application logs inside the cluster.
However I cannot see the journal logs (kubelet, etc) inside the cluster.
I'm using the EFK stack (elastic search, fluentd, kibana).

Inside the fluentd container I have access to the `/var/log/journal directory` (`drwxr-sr-x  3 root  101      4096 May 21 12:37 journal`). There are no noticeable messages in the fl

[2020-09-25 20:18] praveenk0535 opened #142 "detect_exceptions causing fluentd to delay the log push to sumologic"
Hi,

We are trying to use the plugin (detect_exceptions) to concat java exceptions in a single line. Can you help on the config is I am missing anything which is causing the fluentd to delay the logs push to sumologic and seeing the below errors

2020-09-25 19:39:39 +0000 [warn]: #0 emit transaction failed: error_class=Fluent::Plugin::Buffer::BufferOverflowError error="buffer space has too many da

[2020-10-12 06:59] a-b-v opened #143 "Helm chart v0.3.4 is not availalbe at url https://github.com/vmware/kube-fluentd-operator/releases/download/v1.12.0/log-router-0.3.4.tgz"
Helm chart v0.3.4 is not availalbe at url https://github.com/vmware/kube-fluentd-operator/releases/download/v1.12.0/log-router-0.3.4.tgz

[2020-10-12 09:11] a-b-v opened #144 "A metadata with dot in value raise an error"
Assigning values to

        meta:
          key: metadata
          values:
            cluster: cluster.name

will raise an reloader error: level=fatal msg="Config validation failed: using --meta-key requires --meta-values too"

[2020-10-12 09:40] a-b-v commented on #144
Addition: cluster_name must contain a period, "cluster_name.kube"

[2020-10-12 13:42] dimalbaby commented on #143
@a-b-v There is no v0.3.4 available for v1.12.0 release. You can find the Helm charts per releases https://github.com/vmware/kube-fluentd-operator/releases

[2020-10-13 06:35] a-b-v opened #145 "The reloader raise an error then admin-namespace defined"
Reloader pod manifest:
  - command:
    - /bin/config-reloader
    - --datasource=default
    - --default-configmap=fluentd-config
    - --interval=45
    - --log-level=info
    - --output-dir=/fluentd/etc
    - --templates-dir=/templates
    - --id=kfo-log-router
    - --fluentd-binary
    - /usr/local/bundle/bin/fluentd -p /fluentd/plugins
    - --kubelet-root
    - /var/lib/kubelet
    - --meta

[2020-10-13 06:44] dimalbaby commented on #145
@a-b-v Can you share more details ? Which version are you using? Looks like you are using a different version again the latest chart ?

[2020-10-13 06:46] #143 closed

[2020-10-14 06:27] a-b-v commented on #145
Yes, i used the --set image.tag=v1.12.0, according to outdated readme. Thanks.

[2020-10-20 06:33] a-b-v opened #149 "Feature request: ClusterRole with PSP"
I suggest to add a variable containing PSP name and to modify the ClusterRole
-----
rules:
  - apiGroups: [""]
    resources:
      - configmaps
      - namespaces
      - pods
    verbs:
      - get
      - list
      - watch
  - apiGroups: [""]
    resources:
      - namespaces
    verbs:
      - patch
  - apiGroups:
    - policy
    resourceNames:
    - {{ .Values.pspname }}
    resources:

[2020-10-20 06:35] #145 closed

[2020-10-20 06:36] a-b-v commented on #145
Documentation refreshed

[2020-11-16 02:43] kkapoor1987 opened #151 "Operator not able to validate config"
Hi,

We are using this operator in few of our clusters. However, in one cluster namespace configs are not getting validated. I have tried changing configs but these same configs are running in other clusters.

Here are the logs from the reloader. Turning on debug is not helping out

[code]
We are using the following config in all the namespaces where logfwder is cloudwatch plugin to send logs to C

[2020-11-19 06:35] viveksyngh commented on #128
Github action for build has been already added, so closing this issue.

[2020-11-19 06:35] #128 closed

[2020-11-20 08:25] a-b-v opened #153 "Config-reloader hangs during config check"
We use the operator in several k8s clusters, but in one the config-reloader don't create config files.

The log with bad config is:
[code]
and with next config change lines are added:
[code]
[code]
but when config like this
[code]
log
[code]
and no notification for fluentd is sent and configs in /fluentd/etc are absent.
here the log after next config changes:
[code]
config-reloader command-line:
[

[2020-11-20 09:32] viveksyngh commented on #98
@cw-sakamoto have you tried using `.` in the label names and what error are you getting ? I can see that it considers label with `.` as a valid label

https://github.com/vmware/kube-fluentd-operator/blob/7f7a27702d2411f492b6dec35b7c42a1ea93034b/config-reloader/processors/labels.go#L36

[2020-11-25 16:48] a-b-v commented on #153
It's due no access to elastic. but i suggest to add parameter --dry-run during config checking

[2020-12-08 20:42] herikwebb opened #159 "Fluentd Plugin for Kubernetes Event Collection"
In our previous implementation where we maintain our own custom fluentd image we use the [fluent-plugin-kubernetes-objects](https://github.com/splunk/fluent-plugin-kubernetes-objects) plugin to capture kubernetes events and send them to splunk. The config looks something like this:

[code]

I would like to request the `fluent-plugin-kubernetes-objects` plugin or a similar plugin that allows us to

[2021-01-06 19:27] herikwebb commented on #125
Was a bit confused on this one as well when trying to use `@splunk_hec` per the official splunk plugin docs instead of `@splunkhec`, I also think that it would be nice to have official splunk plugin included instead.

[2021-01-15 18:30] #151 closed

[2021-01-18 00:07] kkapoor1987 opened #160 "Helm chart doesnt support adding annotations to service Account"
We are using this project to deploy kube-fluentd-operator using provided helm chart in eks cluster. In order to use to sent logs to Cloudwatch securely, we have to annotate ServiceAccount with IAM role to liverage IRSA feature from AWS.

I would be more than happy to add support for annotation in helm chart if we can merge it to master

[2021-01-21 23:03] kirek007 commented on #153
Hey, I'm having exactly same issue. Have you found a workaround? I'm afraid it's going to hang on production cluster and I'll have to restart whole stack to bring it back to life. Problem is that it's not clear which piece of config is responsible for that (I'm using CRs for configuration)

[2021-01-24 10:14] a-b-v commented on #153
Hi. In my case were wrong settings in target server parameters. But config-reloader do not hangs, it has is 15 connect attempts, which take a long time. You can add --dry-run to fluentd command-line in config-reloader deployment or reduce number of attempts in configmap with fluentd settings in specific namespace

[2021-01-24 17:17] kirek007 commented on #153
Thanks, I'll take a look into configuration then!

[2021-02-03 16:35] Cryptophobia opened #171 "Use rvm and gemset with gemfile.lock"
It might be a nice idea to switch from rbenv tool to something like RVM so that we can use Gemfile.lock for graceful upgrading and resolution of upgrade problems related to the gems.

[2021-02-03 16:38] Cryptophobia opened #172 "Version control fluent-plugin-vmware-log-intelligence 2.0.5 from rubygems"
No need to get rubygems from the vmware github repo anymore. It is available in ruby gems as of version 2.0.4.

https://github.com/vmware/kube-fluentd-operator/blob/2dbae55cc0ca4997defd26681bb86cd838769b7e/base-image/Dockerfile#L47

Can be put in the fluentd plugins Gemfile now. 👍

[2021-02-08 08:25] #172 closed

[2021-02-08 16:41] Cryptophobia commented on #160
This is closed by https://github.com/vmware/kube-fluentd-operator/pull/167

[2021-02-08 16:41] #160 closed

[2021-02-22 20:05] jliao2011 commented on #153
@a-b-v hey i seem to have this issue too, when you say in the fluentd command line in the config-reloader deployment where do you mean? i tried adding it to the daemonset here: https://github.com/vmware/kube-fluentd-operator/blob/master/charts/log-router/templates/daemonset.yaml#L113 but that didn't seem to work

[2021-02-25 18:09] a-b-v commented on #153
https://github.com/vmware/kube-fluentd-operator/blob/master/charts/log-router/templates/daemonset.yaml#L100

[2021-02-25 18:54] kirek007 commented on #153
No I've migrated to other solution.

[2021-02-25 20:12] ls-julien-deruere opened #181 "No solution to configure the log level of the vmware/kube-fluentd-operator"
I'm using the Helm chart, the logLevel only apply to the config-reloader.
But the Fluentd container has no way to configure the log level.

I end up having a lot of noise:
` level=debug msg="Using default configmap name ('fluentd-config') for namespace 'kube-system'"`

[2021-02-25 21:46] Cryptophobia commented on #153
We have recently merged in some timeouts and log fixes (https://github.com/vmware/kube-fluentd-operator/pull/180) in order to make config-reloader a bit more resilient and fail quicker in such cases where it cannot validate the fluentd configurations. It will fail quicker and log out more verbose messages.

We will be making a new release soon.

[2021-02-25 21:59] Cryptophobia commented on #181
Yes, config-reloader has it's own log-level that is independently configured outside of fluentd. As config-reloader is written in Go and verifies/reloads the configs for fluentd.

Have you tried setting the `log-level` field in your fluentd.conf file: https://github.com/vmware/kube-fluentd-operator/blob/master/config-reloader/templates/fluent.conf#L4

This can be done through the configMap that fl

[2021-02-25 22:09] Cryptophobia commented on #181
Edit: Sorry, yes. We can figure out a quick way to propogate log-level in the generator.go code: https://github.com/vmware/kube-fluentd-operator/blob/master/config-reloader/generator/generator.go

[2021-02-26 14:58] ls-julien-deruere commented on #181
Yes that would be nice to propagate the log-level to both containers 👍

[2021-03-02 20:22] #125 closed

[2021-03-04 15:26] jliao2011 opened #182 "Next release?"
Just wondering what your guys' release cadence is, we would like to switch to the official splunk hec plugin asap.

[2021-03-07 21:53] kkapoor1987 commented on #182
We have the same requirement. It would be great to have a new release

[2021-03-08 16:21] Cryptophobia commented on #182
We targeting to make a new release soon within the next 2 weeks. We have encountered some restrictions on public DockerHub (effective Nov 20) that we need to work through.

We are looking forward to this release as much as everyone else! 🙏 🙂

[2021-03-15 20:24] Cryptophobia commented on #139
Hi @kkapoor1987 , I see you closed this. Is this issue resolved?

[2021-03-16 09:31] mridu23 commented on #153
@Cryptophobia
Any update on when the new release will be published ?

[2021-03-16 11:22] karthiknagraj opened #183 "buffer path mandated to /var/log"
Hi,
Currently makeSafeBufferPath() which is present in [destination.go](https://github.com/vmware/kube-fluentd-operator/blob/master/config-reloader/processors/destinations.go) mandates buffer to be at path /var/log. Even if we provide specific buffer path under \<buffer\> tag, it is used as a hash value and gets appended at the end for the creation of **.buf**.

`func makeSafeBufferPath(ctx *Proce

[2021-03-16 13:17] Cryptophobia commented on #153
@mridu23 , it should be sometime this week.

[2021-03-16 18:10] Cryptophobia commented on #183
@karthiknagraj, What do you want to change the base path to ? What is the particular use-case?

This is the internal buffer created for each buffer of each processor of a namespace. We could make it fully overwritable and default to the current way of setting it, but I am a little worried it might have other security implications. And having this overwritable could also create a single-point of fa

[2021-03-17 12:08] karthiknagraj commented on #183
@Cryptophobia, I want to change the base path to, let's say /var/log/fluentd. Currently we have a very large traffic flowing through fluentd to elasticsearch. During the downtime of elasticsearch, /var/log gets filled up quickly( as this partition has lesser space). For this reason we have created a new partition with larger capacity. Now we want internal buffer created for each processor of a nam

[2021-03-17 14:25] Cryptophobia commented on #183
@karthiknagraj , so you are mounting a new volume partition on the path `/var/log/fluentd` for the processor's buffers?

So it sounds like we can just make a `bufferMountFolder` which can be appended at the end of `/var/log/{$bufferMountFolder} like so? Would that solve the problem you are having?

[2021-03-18 07:59] ccbur commented on #141
Same here. We are evaluating kube-fluentd-operator for an AKS installation, but we are not able to figure out how to get something from systemd. The nodes are based on Ubuntu 18.04.5 LTS and we see the journal files mounted to the daemon set, but nothing special in fluent logs:
[code]
Any idea?

[2021-03-18 08:31] paulbarbu commented on #141
@ccbur For the short testing session we did, I ended up switching to https://github.com/fluent/fluentd-kubernetes-daemonset
And I think I also got the journald log to show up if journald was writing to `/var/log/journal`, still the memory is foggy, but this much I can gather from my notes back then.

[2021-03-18 08:49] ccbur commented on #141
I looked also into https://github.com/fluent/fluentd-kubernetes-daemonset and https://github.com/fluent-plugin-systemd/fluent-plugin-systemd and what issues there are regarding systemd, but it's more or less all around user permissions and systemd versions. As far as I can tell those two issues should not be the case with kube-fluentd-operator as it's already starting with root permissions (which

[2021-03-19 18:36] Cryptophobia commented on #141
Systemd version is 239 in photon:3.0 which is the base image that we use inside the container that is running fluentd. Could this be the problem?

[code]

[2021-03-22 21:17] Cryptophobia opened #184 "Upgrade to photon:4.0 base image"
Update to photon:4.0 base image for fluentd. This may be tricky as systemd will most likely be a different version on photon:4.0 vs. photon:3.0 .

We should figure out a kind test for systemd/jounrnalctl for systemd service logs.

https://github.com/vmware/photon/releases

[2021-03-22 23:30] Cryptophobia commented on #182
@jliao2011 @kkapoor1987

Changelog of the pre-release is here: https://github.com/vmware/kube-fluentd-operator/releases/tag/v1.14.0-beta.2

Image is live on docker hub with `latest` and `v1.14.0-beta.2` tags:
https://hub.docker.com/r/vmware/kube-fluentd-operator

Please report any issues here and we will address them and patch if necessary. Next major release we will do in a few weeks.

[2021-03-22 23:35] #182 closed

[2021-03-23 08:13] ccbur commented on #141
I had https://github.com/fluent-plugin-systemd/fluent-plugin-systemd/issues/87 in my mind regarding systemd
incompatibilities, which does not seem to be the case here. Yes, our fluentd container is based on 239:

[code]

Currently I don't have access to the nodes, so I can only relate to the Ubuntu LTS version which should be based on Systemd 237.  Sorry, an upgrade is currently not possible.

But

[2021-03-23 11:25] karthiknagraj commented on #183
Sorry for the late reply. Yes, the bufferMountFolder variable should work for us. We are using a openstack based on-prem deployment and disk space is very limited.

[2021-03-23 13:12] Cryptophobia commented on #141
lz4 is probably the issue here then. Compression is enabled on the nodes and when photon's systemd does not have the compression library it cannot read the files...

We will be upgrading to photon:4.0 for next release: https://github.com/vmware/kube-fluentd-operator/issues/184

[2021-03-23 13:25] Cryptophobia commented on #141
PR is already made and tested: https://github.com/vmware/kube-fluentd-operator/pull/186

This will be included the next release.

[2021-03-23 14:03] #141 closed

[2021-03-23 14:03] #184 closed

[2021-03-30 03:29] alex-vmw opened #188 "Publish a spec for fluentdconfigs crd, so it can be installed separately"
Publish a spec for fluentdconfigs crd, so it can be installed separately. We do not install kube-fluentd-operator via a helm chart, but install it manually via a yaml manifest, so I am not sure if Helm is designed to wait for the CRD to be created first before it tries to create any CRDs of type fluentdconfigs. If the kube-fluentd-operator itself installs the fluentdconfigs crd it takes some time

[2021-04-03 00:01] alex-vmw commented on #188
In case anyone find this issue and is interested the CRD is currently as follows:
[code]

[2021-04-03 17:07] Cryptophobia commented on #188
Hey @alex-vmw 👋 , sounds like specific use case outside of helm installation process. Maybe we could provide some example kubectl manifests in a folder in this repo with instructions on how to install everything. Similar to the `kubectl apply` guides for other projects that use CRDs.

[2021-04-03 18:50] kkapoor1987 commented on #181
@Cryptophobia  I was thinking to implement it. I have question should we have separate log level for fluentd or can we use same one which is provided for reloader?

[2021-04-05 14:56] Cryptophobia commented on #181
@kkapoor1987 , I think ideally we can have two environment flags: `logLevel` and `fluentdLogLevel` since they are two separate containers. If `fluentdLogLevel` is not set, `fluentdLogLevel` should default to what is set for `logLevel`. That way we can have complete control of each of the log levels, there is a safe default fallback, and it will be backwards compatible in case `fluentdLogLevel` is

[2021-04-05 17:57] alex-vmw commented on #188
@Cryptophobia Yes, that would be great if some guide for applying with `kubectl apply` is provided. With Helm, I can always dump yaml manifest by running with `--debug --dry-run`, but CRD spec is missing from Helm manifest because operator is expected to install the CRD by itself and not via Helm.

[2021-04-05 19:49] Cryptophobia commented on #188
@alex-vmw , on second look at the code, the CRD should have installed very quickly after installing log-router. Did you by any chance miss setting the `--datasource=crd` environment variable when applying the manifests?

This could be the reason why the manifest was not installed automatically...

[2021-04-05 20:04] Cryptophobia commented on #188
Yes, by default I think the current method is not to install CRD. So this may be the reason why the CRD never appeared. For now you need to set `--datasource=crd` as a flag passed to log-router if you want CRD to be installed when log-router begins generating the fluentd config.

[2021-04-06 01:24] kkapoor1987 commented on #181
@Cryptophobia  I started working on something on those lines only. Will share the update sometime this week.

[2021-04-06 13:59] Cryptophobia commented on #181
Awesome @kkapoor1987 !

[2021-04-06 18:41] Cryptophobia commented on #188
#192 closes this one. Thanks @alex-vmw !

[2021-04-06 18:56] #188 closed

[2021-04-08 16:43] Cryptophobia commented on #181
Hey @kkapoor1987 , how's it coming along? Would love to include this one in the upcoming latest release.

[2021-04-08 16:44] Cryptophobia commented on #153
New releases are made and new one should be incoming. This issue was fixed in latest releases. We do validation like before, except now we timeout the command and output the WARN log messages from the validator command.

[2021-04-08 16:44] #153 closed

[2021-04-08 16:46] Cryptophobia commented on #138
@floriankoch fluentd logs are useful for debugging purposes. What would be the reason to do this?

[2021-04-12 01:33] kkapoor1987 commented on #181
@Cryptophobia  Apology for late reply ... Let me know if you have any feedback for the PR.

[2021-04-12 22:27] Cryptophobia commented on #181
closed by https://github.com/vmware/kube-fluentd-operator/pull/196 . Thank you @kkapoor1987

[2021-04-12 22:27] #181 closed

[2021-04-13 13:22] a-b-v opened #198 "bad label name"
Hello everyone!

This config:

    <match **>
      @type relabel
      @label dddddd
    </match>

    <label @dddddd>
      <match **>
         @type elasticsearch
         #       include_tag_key true
         host "#{ENV['ingress_elk_host']}"
         user "#{ENV['ingress_elk_user']}"
         password "#{ENV['ingress_elk_password']}"
         scheme "https"
         ssl_verify "false"

[2021-04-13 13:54] Cryptophobia commented on #198
@a-b-v , can you try setting a `@` character in front of the name of the label in the top match config. Like this:

[code]

[2021-04-13 14:28] a-b-v commented on #198
Thanks, it works. One need to update the example in readme.

[2021-04-13 16:36] #198 closed

[2021-04-14 22:14] Cryptophobia commented on #98
Regex was correct but the whenever the label has a period ( . ), the validation dropped the key. I think the PR #201 will finally fix.

[2021-04-14 22:32] Cryptophobia commented on #126
@mg03 , you can expose custom metrics via the prometheus gem and use prometheus to capture the metrics. Detailed write up here:

https://docs.fluentd.org/monitoring-fluentd/monitoring-prometheus

Per namespace, you would have to probably write a custom prometheus formater to format metrics per namespace.

[2021-04-14 22:33] #98 closed

[2021-04-14 22:33] #144 closed

[2021-04-14 23:19] Cryptophobia commented on #140
This will be closed by #202.

[2021-04-14 23:24] Cryptophobia commented on #142
@praveenk0535 , did you figure this out?

[2021-04-14 23:31] Cryptophobia commented on #142
Looks like there is a memory leak with the gems and config that you are using. Likely one of the filters is capturing too much and filling up the buffer. You may need to set more parameters in order to make sure this does not happen and the exception is sent together but as a raw message stream and filtered correctly:

[code]

[2021-04-14 23:31] #142 closed

[2021-04-14 23:34] Cryptophobia commented on #137
@floriankoch have you tested this? Although we have not hit this issue, we are open to PRs.

[2021-04-14 23:43] Cryptophobia commented on #127
I'm am pretty sure this is outside the scope right now. In your example, KFO is a direct replacement for fluentbit daemonset.

Easiest way that could be achieved is to deploy KFO with another deployment for example an (fluentd+kafka-plugin) image to read from the broker and ship the logs to the respective backends.

[2021-04-14 23:43] #127 closed

[2021-04-14 23:44] #140 closed

[2021-04-14 23:53] Cryptophobia commented on #149
@a-b-v , would you like to make a tentative PR for this. Ideally, it should be configured only if pspname is set in values.

[2021-04-15 00:05] #120 closed

[2021-04-21 20:08] #183 closed

[2021-04-21 20:25] Cryptophobia commented on #183
@karthiknagraj, this has been merged in #206 and will make the next minor release with new chart version.

[2021-04-21 21:45] Cryptophobia commented on #126
Closing this one for now as it's not really in the scope of the main project. If someone wants to contribute an output plugin that formats metrics per namespace and exposes via prometheus gem, it would be great contribution!

[2021-04-21 21:45] #126 closed

[2021-04-22 07:38] karthiknagraj commented on #183
Thanks @Cryptophobia

[2021-04-27 15:20] Cryptophobia opened #209 "Write github test for kind with helm install"
We need a better test of the helm chart and log-router. We should load the helm chart but we also need to wait until log-router and reloader start up with a very minimal config. This is just to make sure the helm values.yaml can be passed to the config-reloader without making it crash.

This will catch bugs such as this one recently: https://github.com/vmware/kube-fluentd-operator/pull/205

[2021-05-17 13:19] armensuri opened #213 "Volume mount is not working as expected"
I'm trying to mount a volume to pull secret into a file. Following the instructions I added this code to my values.yaml
[code]

I get the following error when building :
[code]

I was able to directly modify the daemonset using Lens and was able to get it working. I'm suspecting that there is an issue with the block that I defined in values.yaml getting properly substituted in daemonset.yaml might

[2021-05-17 17:05] Cryptophobia commented on #213
This means somehow `extraVolumes` in values.yaml was not passed in correctly to patch the daemonset. Next time, if you encounter this can you please run the `helm upgrade` command with the following flags so we can get exact problem from helm:

You can run your Helm command with `--debug --dry-run` to output generated YAML's.
This should show you where the errors could be located.

[2021-05-17 17:05] #213 closed

[2021-05-26 11:20] karthiknagraj opened #214 "CVE's present as part of kube-fluentd-operator:1.13.0"
Hi,
I'm curious to know about the list of CVE's present as part of kube-fluentd-operator. v1.12.0 onwards base OS has been Changed to photon, CVE scanner such as clairimage ( Scans for vulnerailities in docker image) is not able to analyze the layers. Is there a way to find out the list of CVE's ?

[2021-05-26 11:29] tjorourke commented on #214
Hey @karthiknagraj, CVEs of course change regularly and our scan tools (within VMW) do work for Photon of course. We regularly build the kube-fluentd-operator container and patch it internally and regularly but we dont publish these as a release only the core plugins/fluentd and any code updates. Photon 3 is regularly updated though and a tdnf update in the dockerfile will address vulnerabilities

[2021-05-26 14:39] Cryptophobia commented on #214
@karthiknagraj , most image scanning tools do not support photon:4.0 yet, which is our current base image. You can also try scanning this container that is photon:3.0 base image which is also built with the latest code: https://hub.docker.com/layers/vmware/kube-fluentd-operator/v1.14.1-photon3/images/sha256-bdeadb1ee9ae9c3f36bc3b65711710daf321b5c558678b624c86da444d4e2d7d?context=explore

We try to

[2021-06-17 08:13] vikrantsde commented on #60
@apu1111  how can we parsing processing with different workers? When I am doing it , it says that the tags are not used/matching since the tail is running in worker0

[2021-06-17 18:44] apu1111 commented on #60
You need to use forward directive to emit the logs from one worker to another.

[2021-06-24 10:37] gg-kialo opened #221 "`fluent-plugin-loggly` requires an older version of `net-http-persistent`"
In `v1.15.0` the bundled `fluent-plugin-loggly@v0.1.0-pre` does not work with the bundled `net-http-persistent@v3.1.0`

`fluent-plugin-loggly` expects a pre-3.0.0 version of `net-http-persistent`. In the `3.0.0` releases, `Net::HTTP::Persistent.new` has been changed to accept keyword arguments instead of optional positional arguments.

This causes the validation of fluent configs to fail. E.g. whe

[2021-06-24 10:37] gg-kialo commented on #221
I'd be interested in knowing any workarounds, otherwise, I will continue to use `v1.13.0`

[2021-06-24 14:04] Cryptophobia commented on #221
Thank you for reporting @gg-kialo. This likely broke because `net-http-persistent` gem was updated automatically to 3.1.0 when we built `v1.15.0`, but the `fluent-plugin-loggly` does not specify that it does not accept `< 3.0.0` of `net-http-persistent` gem.

[code]

After looking more into this, looks to be a versioning issue. Tag `v0.0.9` actually has the fix on top of `v0.1.0.pre`.
https://gith

[2021-06-24 14:28] Cryptophobia commented on #221
Unfortunately, two other gems depend on upgraded versions of `net-http-persistent` gem that fixes connectivity issues for those gems:

[code]

It would be unfair if we were to downgrade those gems in order to run a gem that has not been updated in 5+ years. Can you open an issue with the maintainers?

[2021-06-24 14:28] #221 closed

[2021-06-24 14:29] gg-kialo commented on #221
I will do, but I don't expect anything from it!

[2021-06-24 14:35] Cryptophobia commented on #221
You can also try to fork the gem and fix it yourself. We will pull version from your fork. It believe one line change like this one may solve your issues to use the new client for net-http gem:

https://github.com/DataDog/fluent-plugin-datadog/commit/f3a4b428f4c61158094fb38ea16dd7b6107f309c#diff-8abf650fc7e6ac50d9d48da76f3c7cadda95f72a285897c45021c287b4d364a5L305-R309

[2021-06-24 14:40] Cryptophobia commented on #221
Two lines need to change: https://github.com/patant/fluent-plugin-loggly/search?q=Net%3A%3AHTTP%3A%3APersistent.new
And then two more lines in .gemspec files, you increment version to `0.1.1`, and change to accept `s.add_dependency('net-http-persistent', '~> 3.0')` [here](https://github.com/patant/fluent-plugin-loggly/blob/master/fluent-plugin-loggly.gemspec#L21) .

[2021-06-25 18:50] alex-vmw opened #222 "Set logging.csp.vmware.com/fluentd-status annotation only on namespaces that have kfo configs"
Hello. We have kubernetes clusters with 100s of namespaces, where only a small portion of them have kfo configs defined. We see an issue during kfo startup, where kfo is patching ALL namespaces in the cluster to add logging.csp.vmware.com/fluentd-status annotation, which is taking on average 2.5 seconds per namespace (many minutes for 100s of namespaces). The annotation is completely useless for t

[2021-06-25 18:53] Cryptophobia commented on #222
Great @alex-vmw , I will take a look what can be done here.

[2021-06-28 16:51] Cryptophobia commented on #221
@gg-kialo , I applied the fixes above on a forked repo (https://github.com/Cryptophobia/fluent-plugin-loggly) and it starts up correctly with minimal efforts. This may be fixed and working in `v1.15.1`. Please try again when v1.15.1 is released.

[code]

However, if this gem does not get updated, we may have to deprecate support and I made a note for the future.

[2021-06-28 19:44] Cryptophobia commented on #222
This should be fixed in the new upcoming KFO release `v1.15.1`. Took awhile to trace the code but basically now it skips the namespaces which are not previously annotated with the annotation on startup.

Test:

[code]

1. Removed status annotation from `vdp-system` namespace and redeployed fixed KFO. It did not add status annotation to the namespace because annotation was not found from before and

[2021-08-02 18:39] juan-monterroza commented on #37
Hello,

Is there an update for this request?

[2021-08-04 19:06] Cryptophobia opened #239 "Remove patch from clusterrole once no-need for backwards compatibility"
Remove `patch` from clusterrole when no-need anymore for backwards compatibility with images and chart versions. https://github.com/vmware/kube-fluentd-operator/pull/238

[2021-08-04 20:44] Cryptophobia commented on #37
@juan-monterroza , @tjorourke is out this week. There are several feature requests for this one. We will prioritize soon. Need to stabilize next tag due to some issues with `v1.15.1`. Will ask him when he gets back.

[2021-08-16 11:33] SuitableProduce opened #241 "logage vs logRotate?"
What is the difference between these two settings?

Maybe some more documentation on how the log rotate works?  I think `logage` is from previous versions, while `logRotate` is the same thing, just in newer versions.

Is this executing a `find` on the fluentd log dir, and deleting things that meet either the `logRotateSize` or `logRotateAge` values under the `logRotate` section of the `values.yaml

[2021-08-16 11:35] SuitableProduce commented on #159
SCK uses fluentd.  Have you checked this out? https://github.com/splunk/splunk-connect-for-kubernetes

[2021-08-16 19:34] Cryptophobia commented on #159
This is an interesting feature request. Having watch on k8s events and other k8s objects as logs would be nice. We can add this plugin in the next version of KFO.

[2021-08-16 19:48] Cryptophobia commented on #241
You can read more in the fluentd official documentation. We do not do anything custom, just set the command arg flags on fluentd start up.

https://docs.fluentd.org/deployment/logging#log-rotation-setting

[2021-08-16 19:49] #241 closed

[2021-08-20 15:06] Cryptophobia commented on #113
Unfortunately, this kind of configuration error is not caught by fluentd config validation command. The reason is that fluentd generates the main config based on the defined behaviour of the plugin and the IDs involved.

[2021-08-26 11:19] karthiknagraj opened #243 "BUILD FAILED (VMware Photon OS 4.0 using ruby-build 20210825)"
Hi,
I was trying out kube-fluentd-operator:v1.15.2, While building the image, I'm getting the error as shown below.
[code]

Please note: I was able to build an image successfully when I replaced photon:4.0 with photon:3.0.

Please let me know if any further details are required.

[2021-08-30 17:10] brunowego opened #245 "Error when try get Fluentd status"
Installation with Helm:

[code]

The creation of CM:

[code]

Added the annotation in the namespace:

[code]

[code]

Below the complete output error:

[code]

[2021-08-30 23:04] Cryptophobia commented on #245
Can you check the fluentd-operator pods and if they are returning any errors on initialization?

You are missing the required logRotate parameters here in the helm values:

https://github.com/vmware/kube-fluentd-operator/blob/master/charts/log-router/values.yaml#L110-L113

[2021-08-31 03:03] karthiknagraj commented on #243
@Cryptophobia, Currently we'll not be able to upgrade docker-engine. Even I'm suspecting the docker engine version could be the reason for failure. Thanks for analyzing and clarifying my issue. By the way, I'm my operating system is CentOS.

[2021-08-31 03:03] #243 closed

[2021-09-02 16:35] maxsivkov opened #246 "windows support"
Hello
Are kfo community users interested in windows-capable kfo?
Recently I built fluentd, reloader windows images and implemented windows nodes support in charts.
Up to now it works without major issues in our QA cluster running k8s v1.18.20 and nodes running Windows Server 2019 for two weeks or so.
PS
Tested only with elasticsearch output plugin.

[2021-09-08 15:14] SuitableProduce opened #247 "Are there plans to eventually stop supporting configMaps and only the new crd FluentdConfig?"
Just curious if there is an end date as to when configMaps will no longer be supported by the config-reloader as the README states the crdMigrationMode gives users time to switch to the new CRD.

[2021-09-08 22:50] Cryptophobia commented on #247
Probably at some point in the future. There are still a lot of users using configmaps and it will take some time.

[2021-09-08 22:52] Cryptophobia commented on #246
Thank you for contributing by opening the issue @maxsivkov . Great news that it works on Windows k8s. If other users comment then we can have a special folder in the repo mode for the configurations.

[2021-09-08 22:53] Cryptophobia commented on #245
@brunowego , were you able to pass the right helm values for logRotation to make it work? Still hitting this error? Let me know and else we can close this issue.

[2021-09-08 22:54] Cryptophobia opened #249 "Support context.Background and cascade"
Support context.Background and pass cascade down ctx into child functions. Use timeout . With the idea to support span and tracing in the future.

http://p.agnihotry.com/post/understanding_the_context_package_in_golang/

[2021-09-09 09:49] #247 closed

[2021-09-13 15:01] maxsivkov commented on #246
well, in my port I need not only to prepare Dockerfiles for base and reloader images, but also patch chart files and operator sources.
If my memory serves me right, I patched validator_test.go pass build on windows and reloader.go (enable fluentd /api/config.reload endpoint usage because there are plugins that do not support graceful reload)
Also I implemented an option to disable systemd (config

[2021-09-13 15:12] Cryptophobia commented on #246
Okay, we could stick that all into a folder `/windows` with short instructions on how to build and make the modifications? Or make a git patch file to apply for the changes also.

Which plugins that you are using have you noticed do not support graceful reload endpoint? Most maintained plugins support the new graceful reload per specification.

[2021-09-13 15:21] maxsivkov commented on #246
Well I can prepare patch or PR or series of PRs.

we use fluent-plugin-detect-exceptions in our configuration, and it does not support graceful reload
There is an issue opened in their repository for a while https://github.com/GoogleCloudPlatform/fluent-plugin-detect-exceptions/issues/77

[2021-09-13 16:44] Cryptophobia commented on #246
There is an issue opened in their repository for a while GoogleCloudPlatform/fluent-plugin-detect-exceptions#77

I think all they need to do is merge this one in and it will support new V1 fluentd API:  https://github.com/GoogleCloudPlatform/fluent-plugin-detect-exceptions/pull/45

Sure, I will review and approve if you do this work. :)
I cannot guarantee I will be able to test it out because we d

[2021-09-13 17:03] Cryptophobia commented on #245
Hey, have not heard back anything on this issue. From previous shared logs it looks like the logRotate params were not defined during deploying so that is why it failed. If this is not correct, please re-open.

[2021-09-13 17:03] #245 closed

[2021-09-13 22:36] Cryptophobia opened #253 "Kube informer does not support jobs because it only looks for pods?"
TLDR: Restart control loop when KFO finds event that a job has started a pod in a namespace. Watch jobslist similar to podlist and namespaces. If a namespace has only jobs and no pods, we currently miss informing on new pods from those jobs in that namespaces, unless control loop runs again meanwhile.

[code]

If factory informer finds new pods for job. Then `c.RunOnce()` and make controller run a

[2021-09-16 22:27] Cryptophobia opened #255 "Regen k8s clients with client-gen for fluentconfig CRDs"
Since we upgraded k8s clients in https://github.com/vmware/kube-fluentd-operator/pull/248, we should regen the clients for our types - Listers, Getters, Watchers.

Will it propagate context.Context to clients like the new k8s packages support?

[2021-09-16 22:44] Cryptophobia commented on #255
The actual type is fluentdconfig, not kubeconfig (😀)...

[2021-09-17 00:07] #249 closed

[2021-09-17 18:33] Cryptophobia commented on #108
This seems to be partially addressed in https://github.com/vmware/kube-fluentd-operator/pull/115  by removing the extra merge_json and preserve_json parameters.

[2021-09-17 18:33] #108 closed

[2021-09-22 01:31] alex-vmw opened #261 "Update kubectl/manifests.yaml file with latest ClusterRole permissions"
Update kubectl/manifests.yaml file with latest ClusterRole permissions.
Looks like the below required permission is missing:
[code]

[2021-09-22 01:38] alex-vmw opened #262 "reloader should also check the final fluent.conf file for errors"
reloader should also check the final fluent.conf file for errors.

We had an issue where a user set the same `@id` in multiple fluendConfigs of different namespaces. While individual fluendConfigs had no errors, the final fluent.conf file had errors due to duplicated plugin id:
[code]

[2021-09-22 13:45] #261 closed

[2021-09-22 13:58] Cryptophobia commented on #222
Reopening because https://github.com/vmware/kube-fluentd-operator/pull/235 reverted this solution. This solution in #227 introduced a race-condition in KFO config-reloaders.

[2021-09-23 14:22] maxsivkov commented on #246
Hello
Finally I prepared PR #264
Please read PR comment about how to build images and then prepare manifests

I was unable to split this PR to smaller pool requests because things are very relative...

[2021-09-29 19:20] #255 closed

[2021-10-06 19:49] alex-vmw opened #266 "[error]: Failed to reload config file: expected end of line at systemd.conf line 8,12"
Hello. After upgrade from v1.15.1 to v1.15.3 we have seen a number of the below errors in the fluentd logs:
[code]

Here is the full log file:
[kube-fluentd-operator-d85b4.log.gz](https://github.com/vmware/kube-fluentd-operator/files/7296750/kube-fluentd-operator-d85b4.log.gz)

[2021-10-12 18:03] gmcelhoe opened #267 "$labels on standard K8s labels needs better documentation"
When using standard K8s label conventions: https://kubernetes.io/docs/concepts/overview/working-with-objects/common-labels/ , you need to adjust the $labels macro to get things working.

Because the internals use periods to separate namespaces and other segments, the operator maps periods to underscores.

To find labels with periods, the same mapping has to be made.

I'll file a pull request with

[2021-10-12 20:10] #267 closed, assigned to Cryptophobia

[2021-10-14 05:56] alex-vmw commented on #266
This error was root caused as an issue with the splunkhec plugin. I think KFO should completely remove Splunk support for now by removing splunk-hec and splunkhec plugins until these tickets below are fixed:
https://github.com/splunk/fluent-plugin-splunk-hec/issues/187
https://github.com/fluent/fluentd/issues/3530 or https://github.com/cmeerbeek/fluent-plugin-splunkhec/issues/27

[2021-10-19 22:00] #266 closed

[2021-10-21 20:08] Cryptophobia opened #276 "Improve reloader loop pre-startup fluentd"
Reported by @alex-vmw:

There needs to be some different logic for first start of the reloader versus a standard control loop once it is already running. Logically, you can probably set some `firstStart=true` variable and then set it to `false` when first startup loop finished.

a) `time="2021-10-14T05:42:05Z" level=info msg="Sleeping for 30 seconds in order for fluentd to be ready."` - Reloader s

[2021-10-21 20:10] Cryptophobia opened #277 "Check only the fluentdconfig that has changed"
Reported by @alex-vmw:

Every time any fluentdConfig CRD is changed, the reloader runs a complete control loop and re-checks all fluentdConfigs in all namespaces, which takes a very long time in our clusters with 100s/1000s of configs applied. Is it possible to limit the check to only the fluentdConfig that changed?

[2021-11-15 17:20] vkadi opened #289 "new pod logstream not getting created with mounted-file option"
I am seeing the issue with CW logstreams not getting created when using the "mounted-file" to ingest the logs from file in the container.
I picked the sample config from examples folder and able to reproduce it , below is the demo config what I have used.
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: nginx-deployment
  namespace: default
spec:
  selector:
    matchLabels:
      app: n

[2021-11-16 20:25] vkadi commented on #289
@Cryptophobia Can you please help with the issue , seems like the new container information is not updated in "fluent.conf" until the fluent is refreshed manually.

[2021-11-17 16:35] Cryptophobia commented on #289
@vkadi , can you share the configMap or CRD fluentdconfig that you are using for the above testing container?

Are you using type `@mounted-file`? Are you following the README here: https://github.com/vmware/kube-fluentd-operator#i-have-a-legacy-container-that-logs-to-varloghttpdaccesslog

Also it is possible, when your configuration changes the fluentd container needs to be restarted as gracefulR

[2021-11-17 20:02] vkadi commented on #289
@Cryptophobia Yes, I am using the mounted-file this is how my configmap looks for testing pod -

[code]

[2021-11-17 20:59] sabdalla80 commented on #289
@Cryptophobia
I am having a similar problem as @vkadi. I believe the problem isn't in configMap changes, this part works as expected, reloader kicks in and invokes controller::RunOnce() loop and re-generates the proper ConfigMaps in addition to fluent.conf.
However the problem seems to be when the pod in a deployment is replaced/restarted, the reloader seems to be unaware and thus it does not re-g

[2021-11-17 22:38] Cryptophobia commented on #289
Thank you @sabdalla80 , that description helps a lot! I think in this case maybe we are not doing it correctly. Since the config file has not change, we only force fluentd reload when config hashes change. We need to force gracefulReload on fluentd even when configmap does not change but the mountedFile pod is restarted/replaced.

This sounds like the issue here. This also explains why KFO sometim

[2021-11-17 22:41] Cryptophobia commented on #289
I think this is related to the issues in #253

[2021-11-18 13:42] sabdalla80 commented on #289
@Cryptophobia Thank you for the response and feedback. It sounds like others having same issue, I know this issue is currently impacting me and I can use a quick fix. Do you know if you have an ETA for the fix? I would be glad to assist as I already went down this path of learning the insides of the code and got hung up on how to detect pod changes (I am not 100% sure, but it sounds like it's done

[2021-11-18 17:32] Cryptophobia commented on #289
@sabdalla80 , yes I think we need to find some place in `kubeInformer.go` (config-reloader/datasource/kube_informer.go) where we can do this check via the sharedInformers for the pods. If pods are getting restarted in a namespaces, config-reloader needs to be smart enough to issue new reload to fluentd. This is where we can get a list of pods from namespace config struct that we build.

@sabdalla8

[2021-11-18 17:39] sabdalla80 commented on #289
certainly - I will try it with 1.15 and report back.

[2021-11-18 17:47] Cryptophobia commented on #289
I just looked at the code and I have an idea. We can use an hasher to get a unique has for the nsConfig struct each time RunOnce() loop runs. This will avoid us having to reload each time new pods restart or using kubeInformer at all. We just build namespace representation using our current way.

If the podlist slice representation in nsConfig.MiniContainers changes then the hash value of the whol

[2021-11-18 20:08] Cryptophobia commented on #289
@sabdalla80, thank you for testing. After I do some local testing, I will build a new test image today.

[2021-11-18 20:23] sabdalla80 commented on #289
This would be spectacular. I am looking forward to test it. Please let me know if I can help.

[2021-11-19 21:38] Cryptophobia commented on #289
@sabdalla80 , When I do a simple test with 3 pods in a deployment. I cannot reproduce this. You are saying the mountedfile:Process() is not being called. Can you be more specific and in which part of the code?

[2021-11-19 21:41] sabdalla80 commented on #289
@Cryptophobia Are you able to see main control loop re-run when you restart a pod in the deployment? Does it re-generate fluentd.conf file?

[2021-11-19 21:44] Cryptophobia commented on #289
No, the main control loop does not rerun. But I see fluentd picks up new pods and new container names when the containers restarts/scale-up or whatever. This seems like a race-condition with logstream for CW?

[2021-11-19 21:47] Cryptophobia commented on #289
@sabdalla80 , do you think if we force fluentd to reload this will be fixed? This seems like CW logstreams expect to find new names of pods and it is not being forced because of race condition?

[2021-11-19 21:51] sabdalla80 commented on #289
@Cryptophobia In intial deployment things work fine, the control loop generates fluentd.conf and proper CM files for a service. On pod restart, even though fluentd indeed sees the new pod, the fluend.conf and CM files are not re-generated, they become stale and don't point correctly to the new pods.
To answer your question, from the behavior I have seen thus far, I do believe forcing to reload wil

[2021-11-19 22:06] Cryptophobia commented on #289
@sabdalla80 , thank you for this. I think I understand the problem. The CW plugin requires that the container name be known ahead of time so even though we make correct fluentd configs from reloader when fluentd does not restart then the CW plugin configuration is not the correct one loaded. I am building a container for you to test this theory. The fix is basically to reload anytime we have new p

[2021-11-19 22:15] sabdalla80 commented on #289
It would be awesome. You are spot on in your description.

[2021-11-19 22:40] Cryptophobia commented on #289
@sabdalla80 , I still can't produce a valid test with the similar preprocessing block as your config. Can you post the fluentd-config you are using for the namespace and the deployment yaml that you are deploying for this mount-file test?

[2021-11-19 22:40] Cryptophobia commented on #289
Can you try testing with this image when you have some time?
[code]

[2021-11-19 22:56] Cryptophobia commented on #289
@sabdalla80 , I am able to reproduce the preprocessing block now. I see when I scale up from 3 to 6 pods, the preprocessing still stay to 3 blocks...

[2021-11-19 23:01] sabdalla80 commented on #289
@Cryptophobia

I did see reloader log this event this time around on mounted-file pod restart. But, I did not see fluentd.conf file update. Are you not running the whole chain of events such as generator::renderToDisk with your test change?

`time="2021-11-19T22:49:05Z" level=debug msg="Config hashes returned in RunOnce loop: map[abdas1-pega-58:8c3d1db1c72be76ae2299c726880b349ee7ee82d calico-syste

[2021-11-20 00:16] Cryptophobia commented on #289
I think I solved it @sabdalla80 !

By making a function with a channel in the Run() loop (moving it out of RunOnce()) so that it does the check now and does not rely on the KubeInformer update channels, but does it outside of the informers. This was to save replicating the code across all of the different type of informers. It's a hacky solution, but if it works, it will solve all the preprocessin

[2021-11-20 00:20] Cryptophobia commented on #289
@sabdalla80  I will wait for your test with container before I make PR:
[code]

[2021-11-20 00:35] sabdalla80 commented on #289
I am testing now, still seeing the same result though. I will look into fi

Thanks for the help. I am still seeing the same behavior. It seems as if `/fluentd/etc/fluent.conf `and the `.conf` files for other namespaces remain stale when pods are replaced.

[2021-11-20 04:15] Cryptophobia commented on #289
@sabdalla80 , have you tried running KFO in `--datasource=crd` mode ? Seems to work for me in the crd mode.

[2021-11-20 19:37] sabdalla80 commented on #289
@Cryptophobia  No, I have not tried. I suppose I can give it a try, what changes do I need to make?

[2021-11-22 10:47] ws-prive opened #290 "[in_tail_container_logs] invalid time format"
Hi,

I have installed this chart with:
[code]

I have used this fluent.conf:
[code]

I do see a lot of these entries in the logs:
[code]
How can I resolve this?

Thanks!

[2021-11-23 04:21] vkadi commented on #289
@Cryptophobia I have got a chance to test  ```vmwaresaas.jfrog.io/vdp-public/upstream/kube-fluentd-operator:sabdalla80-test-2``` using CRD and I am still seeing the same issue where the ```Namespace pre-processing``` block in ```fluent.conf``` does not get updated for the new containers in the deployment until I bounce the fluent pod .

[2021-11-23 15:19] vkadi commented on #289
@Cryptophobia ```if !util.AreStructureHashEqual(nsConfig.MiniContainers, nsConfig.MiniContainers) {
				needsForceRunOnce <- true
			} else {
				needsForceRunOnce <- false
			}``` you are intentionally comparing same obj's here? Seems a typo ...

[2021-11-23 21:13] Cryptophobia commented on #290
@ws-prive , this was fixed in #291 . There was a basic format for regex matching that caused this issue. I have reverted back to using the extended datetime parser regex format. What container runtime do you use by the way?

[2021-11-23 21:14] #290 closed

[2021-11-23 21:17] ws-prive commented on #290
Hi @Cryptophobia,

Thanks, I am using containerd.

[2021-11-23 21:28] Cryptophobia commented on #290
@ws-prive , good to know. We use docker and probably the reason we haven't seen this issue since the change to v1.16.1 . By the way, what cloud provider do you use for the k8s cluster?

Maybe that influences the timestamp format as well since your timestamps have the UTC timezone offset.

[2021-11-23 21:28] Cryptophobia commented on #290
This will be fixed in upcoming release v1.16.2

[2021-11-23 21:34] ws-prive commented on #290
Hi @Cryptophobia ,

Thanks, any idea when 1.16.2 is going to be released?  I am running this on a vm, local on my laptop, so bare-metal install
.

[2021-11-23 21:39] Cryptophobia commented on #290
@ws-prive , 1-2 days. There are 2 more issues that need to fixed and tested before then. You can press the Watch button above and subscribe to the Release notifications. You will get notification on when the new tag is made and the docker container will be there in a few mins after that.

[2021-11-24 00:29] sabdalla80 commented on #289
@Cryptophobia I believe I came up with a fix that seems to resolve the pod restarts and ask controller to run. I will do some quick testing on my end first, then I will share the bit of code I added and it would be awesome if you can review it or recommend a more elegant way if applicable as you see fit.

[2021-11-24 01:47] Cryptophobia commented on #289
@sabdalla80 , that may work but I am trying to avoid this. The best way is to use the podlister and make a decision for each namespace individually. We don't want to track changes in all pods and namespaces, that will make KFO use even more memory. We only care if pods changed for namespace we track...

[2021-11-24 02:23] sabdalla80 commented on #289
@Cryptophobia Can you elaborate? Is the memory concern with the Pods informer?
If I understand this correctly, no matter where the comparison fix is placed, it needs to have updated info about Pods. In your previous fix, you compared hashes, but I believe you assumed it has an updated set of pods/containers. Can you point me to how we can ensure PodLister gets updated? I apologize for my ignorance

[2021-11-24 04:02] Cryptophobia commented on #289
Okay @sabdalla80 , thank you very much for the informer event code! Indeed, this was what was missing and I was trying to solve it in a way around informers but that would not work. I have added your code in the `kubeInformer` and merged it with my code, and it works. However, I am not going to be satisfied until you test the new container.

[code]

I have modified your code to make it only captur

[2021-11-24 04:11] Cryptophobia commented on #289
I have tested with CRD types and it works. It issues the reload if pods scale up and down and verifies if miniContainerHash has changed for the container structures. If miniContainerHash has changed from previous, then it issues reload commands.

Here are some logs:
[code]

[2021-11-24 04:12] sabdalla80 commented on #289
It sounds great!! I will test it and report back

[2021-11-24 04:42] sabdalla80 commented on #289
@Cryptophobia Great news! I have verified that `sabdalla80-test-3` image worked successfully for adding, updating, and deleting pods. Do you plan on merging to master?

[2021-11-24 05:36] Cryptophobia commented on #289
@sabdalla80, Great news! Tomorrow, I will make and publish a new minor release `v1.16.2`

[2021-11-24 08:12] ws-prive commented on #290
@Cryptophobia

Thanks!

[2021-11-24 18:01] Cryptophobia commented on #289
@sabdalla80 , apologies to bother you today. I had a realization this morning that we do not need to compare hashes of all pods and store those at all. We can just rely on config hashes changing per namespace, since preProcessors are part of renderToDisk function the config for each namespace will include the preprocessing directives.

I removed a bunch of useless code I had and now it is a much l

[2021-11-24 19:01] sabdalla80 commented on #289
I will do and report back.

Get Outlook for iOS<https://aka.ms/o0ukef>
________________________________
From: AMO ❤️☕ ***@***.***>
Sent: Wednesday, November 24, 2021 1:01:34 PM
To: vmware/kube-fluentd-operator ***@***.***>
Cc: Sam A. ***@***.***>; Mention ***@***.***>
Subject: Re: [vmware/kube-fluentd-operator] new pod logstream not getting created with mounted-file option (Issue #289)

@sabdalla8

[2021-11-24 20:16] sabdalla80 commented on #289
@Cryptophobia I like the cleanup - looks good.
I have also verified `sabdalla80-test-4` works correctly with scaling up and down of mounted_file pods as well as replacing/updating the pods.

[2021-11-24 22:33] #253 closed

[2021-11-24 23:06] Cryptophobia commented on #289
New `v1.16.2` release is out. New image is now `docker.io/vmware/kube-fluentd-operator:v1.16.2`

[2021-11-24 23:06] Cryptophobia commented on #290
@ws-prive , New `v1.16.2` release is out. New image is now `docker.io/vmware/kube-fluentd-operator:v1.16.2`

[2021-11-25 06:46] ws-prive commented on #290
@Cryptophobia, thanks for the update!

[2021-11-25 12:28] ws-prive commented on #290
Hi @Cryptophobia,

Seems to be working, thanks. Are there anywhere (better) examples how to use the CRD's instead of the configmap?

[2021-11-25 23:09] Cryptophobia commented on #290
Hi @ws-prive , going forward should prefer to migrate to CRDs. Have you read the CRD section in the docs here? https://github.com/vmware/kube-fluentd-operator#custom-resource-definitioncrd-support-since-v1130

If you have many fluentd configmaps, then it would be wise to deploy config-reloader with the flag `--crd-migration-mode` (https://github.com/vmware/kube-fluentd-operator#synopsis) . This wi

[2021-11-26 14:59] ws-prive commented on #290
Hi @Cryptophobia,

Thanks again!

[2021-12-03 23:17] Cryptophobia commented on #289
Hey @sabdalla80,

Unfortunately, this needs to be reverted for now. We noticed that too many gracefulReload calls are causing the fluentd plugins to break and fluentd gets stuck. Fluentd sits in a bad state so in very huge clusters with lots of configs this is a problem.

<img width="1332" alt="Screen Shot 2021-12-03 at 5 33 21 PM" src="https://user-images.githubusercontent.com/15237494/144684786-

[2021-12-06 13:57] sabdalla80 commented on #289
@Cryptophobia Sorry about the late response, this got lost in my email box somehow. I would like to collaborate with you on the fix. Getting this right is critical to us. Besides the increase in reloads, how did you find out that fluentd was getting hung? Ideally, on the update front, we don't want to reload everytime a pod changes, we just want to reload only if a mounted_file config has changed.

[2021-12-06 18:50] Cryptophobia commented on #289
Log volumes got really low (see picture above) and when inspecting the fluentd containers, we saw that we don't get normal debug/info logs from fluentd but rather it was stuck after the gracefulReload API call. Upon further inspection of the logs in the fluentd container, it looks like fluentd is taking a lot of processing power to release the buffers/load/unload plugins and then becomes stuck in

[2021-12-07 10:40] karthiknagraj opened #295 "liveness and readiness probes for reloader"
Hi,
I'm trying to configure liveness and readiness probes for Kube-fluentd-operator. Is there any HTTP-get API that I can use? Or is there any recommended way of defining these probes?

Thanks

[2021-12-08 05:01] dhineshbabuelango opened #296 "Fluentd stops processing the logs if a pod is restarted"
Hi Team,
We are using fluentd in EKS cluster, we are injesting logs from a file in the container to fluentd through a configmap, using grok parser, while the initial setup working fine everytime when a deployment or pod is restarted, we had to recreate the config map(without any change) as well only then fluentd processing the logs

[2021-12-08 17:42] Cryptophobia commented on #296
This is a known issue with file-mount logs.

See https://github.com/vmware/kube-fluentd-operator/issues/289

Duplicate of https://github.com/vmware/kube-fluentd-operator/issues/289

[2021-12-08 17:43] Cryptophobia commented on #296
Duplicate of #289

[2021-12-08 17:43] #296 closed

[2021-12-08 17:44] Cryptophobia commented on #296
`docker.io/vmware/kube-fluentd-operator:v1.16.2` may fix your problems if you don't run very large clusters with lots of configs.

[2021-12-08 18:58] Cryptophobia commented on #295
@karthiknagraj , currently we don't support this because reloader does not expose any port/endpoints internally. It basically works as a daemon binary. It would be trivial to expose a port and route inside the container to monitor its health. Might be worthwhile.

[2021-12-09 01:10] dhineshbabuelango commented on #296
Is this issue only with type mounted-file?, if so can I use any other type.
Note: the logs of my container are piped to a different folder like /app/jboss/logs and not the stdout and stderr. So in this case my only option is mounted-file?

[2021-12-10 21:02] Cryptophobia commented on #296
Yes, it only affects mounted-file types.

We are working on a resolution that may work. Are you able to switch to logging to stdout for the jboss server in the container/pod? If you do that then you will not face this problem when pods restart.

[2021-12-15 09:33] karthiknagraj commented on #295
Thank you for considering my issue as an enhancement. Since fluentd(Gem) is part of kube-fluentd-operator. Is there an idea to check for the health of fluentd(internal to kfo) as well?

[2021-12-15 23:43] Cryptophobia commented on #295
That should not be that difficult. We can set different livenessProbes for each container I believe.

[2021-12-21 17:17] sabdalla80 commented on #289
@Cryptophobia Sorry about that late response. I will pick this back up right after the holidays as it's important for us to get this working correctly.

[2021-12-23 07:18] dhineshbabuelango commented on #296
@Cryptophobia Thanks for the update, we are in process of moving the logs to stdout but since we have some applications already running in prod we are finding for a fix. The mounted-file plugin only supports emptydir volume or we can use a persistant storage as well for this.

[2022-01-03 06:04] dhineshbabuelango commented on #296
@Cryptophobia If I restart teh configmap in few seconds to minutes, will fluentd be able to capture all the logs without any miss?

[2022-01-03 17:31] Cryptophobia commented on #296
@dhineshbabuelango , KFO only supports mounted-files logs as `emptyDir` types so persistent storage would not work at this time. When KFO makes representation in its memory for each of the pods, it only takes into account volumetypes that are `emptyDir` types.

If you write a hook to reload the configmap to delete and recreate the configmap right away after restarting the pods, it should work. It

[2022-01-04 02:20] dhineshbabuelango commented on #296
@Cryptophobia thanks for your response. Will refreshing(delete & recreate) the configmap will lead to fluentd missing any of the logs that was currently reading during the restart ?

[2022-01-04 23:32] #171 closed

[2022-01-05 15:28] sabdalla80 commented on #289
@Cryptophobia  I am going to start working on it today. I am going to figure out how to reload only when mounted_file pod restarted. If you already thought about how the code may look like, please share.

[2022-01-07 21:27] sabdalla80 commented on #289
@Cryptophobia Can you provide more input on the behavior you saw, I was not able to reproduce. I deployed a mounted-file pod and a standard pod (not mounted-file), and I observed the standard pod does not actually run graceful reload calls. The mounted-file pod does run reloads on pod changes.
Related to consumption, and for the standard(non-mounted) pods that the extra processing is happening in

[2022-01-12 00:29] sabdalla80 commented on #289
@Cryptophobia I made some changes so that we only reload when pod changes is associated with namespace/config that has mounted-file type. Unfortunately I was not able to push the changes into a branch. Could you please make the following changes by replacing the kube_informer file with the attached one and run your metrics tests to see if log volumes are ok and there are no extra graceful reloads?

[2022-01-27 09:23] javiercri opened #302 "Missing error when output directory is not accesible"
### Describe the bug

In order to output the files, [ensureDirExists](https://github.com/vmware/kube-fluentd-operator/blob/master/config-reloader/generator/generator.go#L44) function need to exist or should be create, if the folder is missing or not accesible we need to report an error.

### Reproduction steps

[code]

### Expected behavior

We need to show a error message in the output, something

[2022-02-02 21:16] sabdalla80 commented on #289
@Cryptophobia Can you help reviewing the above changes?

[2022-02-11 16:25] #302 closed

[2022-02-11 16:25] javiercri commented on #302
Solved! in [305](https://github.com/vmware/kube-fluentd-operator/pull/305)

[2022-03-08 14:50] xelalexv commented on #266
Issue https://github.com/splunk/fluent-plugin-splunk-hec/issues/187 has been fixed with [release v1.2.10](https://github.com/splunk/fluent-plugin-splunk-hec/releases/tag/1.2.10). Would it be possible to remove the deprecation for this plugin and include it again?

[2022-03-10 11:50] javiercri commented on #266
Hello. Sure we can work on it!

[2022-03-10 11:55] javiercri opened #307 "Add support for fluentd splunk plugin"
### Is your feature request related to a problem? Please describe.

We remove the splunk plugin support because we got issues. Now there is a new version who fix that.
https://github.com/splunk/fluent-plugin-splunk-hec/pull/208

### Describe the solution you'd like

Re-add the splunk plugin again

PR for remove the plugin: https://github.com/vmware/kube-fluentd-operator/pull/274

### Describe alte

[2022-03-10 14:55] xelalexv commented on #266
That would be great!

BTW, I've built my own image based on the latest KFO image, in which I re-added the 1.2.10 release of the plugin. Everything is working, config reload is not causing any trouble.

[2022-03-11 07:47] sourikghosh commented on #307
/assign

[2022-03-14 11:09] xelalexv opened #308 "Protected Plugin Parameters"
### Is your feature request related to a problem? Please describe.

The ability to define plugins as the cluster admin, for namespace admins to use, is a great feature. For the namespace admin, it simplifies the way in which to opt in to a particular log sink. For the cluster admin, it's easy to keep consistent log sink configs. Currently, however namespace admins can change all parameters of a gi

[2022-04-14 15:09] allenmunC1 opened #315 "Unable to create a fluentdconfig with an environment variable replacement"
### Describe the bug

This bug seems to come from the reloader as creating a fluentdconfig with an env var replacement like `"#{ENV['HEC_ENDPOINT']}"`

When deploying a fluentdconfig like
[code]

It will error out the validator in the reloader.  See this in our logs.

[code]

This did not seem to be a problem with `v1.14.1` of the `kube-fluentd-operator`.  Currently we are using `v1.16.3`.

### Re

[2022-05-13 10:24] gg-kialo opened #323 "`log-router` chart not published as a release asset"
### Describe the bug

The [log-router-0.4.0.tgz](https://github.com/vmware/kube-fluentd-operator/releases/download/v1.16.2/log-router-0.4.0.tgz) has not been published as part of releases since v1.16.3. The README.md has been updated to point to one included in the v1.16.3 release (In the [Try it out](https://github.com/vmware/kube-fluentd-operator#try-it-out) section, but there's nothing at that

[2022-05-30 10:23] lkkaur-os opened #329 "I'm trying to build dockerfile for base-image but it showing error as couldn't connect to server. Is there docker image already available for base-image?"
### Is your feature request related to a problem? Please describe.

Dockerfile is failing as some package mangaer tool tdnf, photon couldn't reach online repositories to pull them.

### Describe the solution you'd like

Docker image for the base-image part so that I can make use of it without trying to pull other online repos for tdnf or photon.

### Describe alternatives you've considered

_No re

[2022-05-30 11:14] javiercri commented on #289
Current solution in 1.16.5 is not affordable for big clusters.
Issue revert in 1.16.6, we will need to think in a better approach.

[2022-06-21 12:14] BriceLag commented on #323
Hello @javiercri,
Thank you for your job.
After reading the readme, we have the same problem as @gg-kialo, but on the version 1.16.6.
The URL: 'https://github.com/vmware/kube-fluentd-operator/releases/download/v1.16.6/log-router-0.4.0.tgz'
is not working.
The last log-router-0.4.0.tgz downloadable is the version under the v1.16.2.
Can you create the chart or update the documentation?
Best regards,

[2022-06-30 00:29] armensuri commented on #37
Is there a way of getting external secrets using kfo? Is there a way to load them from env: in daemonset.yaml?

[2022-08-03 16:19] shrxx commented on #289
Hi All
So, there is no solution so far? I have tried I think every offered solution in this thread but still no luck.
@javiercri maybe there is a workaround? Could you suggest something?

[2022-08-18 19:01] cdancy opened #335 "Support for image.registry within log-router helm chart"
### Is your feature request related to a problem? Please describe.

Not really...

### Describe the solution you'd like

I'd like the log-router helm chart to supply an optional `image.registry` property so that internal deployments can specify a separate registry, repository, and tag in a more clean way.

### Describe alternatives you've considered

None considered.

### Additional context

N/A

[2022-08-29 14:26] josephmcasey opened #336 "Deleted files not released under extreme load"
### Describe the bug

When running versions of the operator >v1.15.1 under heavy logging load deleted files are being held open.  Previous versions do not have this issue.
This results in rising disk consumption until the node is full.  Cycling the log-router pods releases all the deleted files and the spare is cleared.

### Reproduction steps

[code]

Using a workload like:
[code]

Which simply o

[2022-09-06 11:34] karthiknagraj commented on #60
Hi, Are there any plans to address this enhancement?

[2022-09-13 20:01] cdancy opened #339 "Exception thrown when `detect_exceptions` filter is not being used"
### Describe the bug

This is not so much a bug as it is an ask for how things are supposed to behave. We don't have `detect_exceptions` filter added but within our logs we have stacktraces dumped in between our json logs. When these logs eventually make their way over to NewRelic we see a lot of logs where `stream: stderr` but there is no `message` field present. There are also loads of these dum

[2022-09-13 20:31] cdancy commented on #339
@javiercri does this make sense at all? Am I understanding things correctly? As you can see in NewRelic: it's just empty messages :)
![Uploading Screen Shot 2022-09-13 at 4.30.14 PM.png…]()

[2022-09-27 03:26] cneepa commented on #315
Hi, we are facing the same issue after upgrading from 1.15.1 to 1.16.7.
What will be the version which might have introduced the bug.

[2022-09-30 16:14] josephmcasey commented on #336
### Workaround

We were able to resolve this by adding the following lines to the `in_tail_container_logs` source:
[code]
We did this by projecting our own `kubernetes.conf` over the template in the reloader image

[2022-10-11 13:11] slimm609 commented on #336
Thanks for opening this issue @josephmcasey.  We have actually seen this one ourselves but it's an interesting issue and has some compliance and security implications for changing how it operates today.  Not sure what the previous action was but "open_on_every_update" was not added until 0.14.12 and prior to 1.15 the fluentd version was 1.12 so that may explain that part.

It would be good to add

[2022-10-12 19:10] berlin-ab commented on #323
This pull request seems to be a solution to this problem:

https://github.com/vmware/kube-fluentd-operator/pull/330

What can be done to move it forward?

[2022-10-13 16:57] #323 closed

[2022-10-13 16:57] javiercri commented on #323
Fixed!

[2022-10-14 07:03] BriceLag commented on #323
Thank you all for your work!
I've tried to download the version: https://github.com/vmware/kube-fluentd-operator/releases/download/v1.16.7/log-router-0.4.0.tgz, explained in the [Readme](https://github.com/vmware/kube-fluentd-operator#readme) and the download doesn't work. But that will work for the next version ?
Best regards,

[2022-10-21 16:09] berlin-ab commented on #114
It seems that customers from different namespaces would need to be able to influence the environment of the operator to populate this env variable password, which is something I don't think we want.

Is there a better solution for configuring configuration secrets in FluentdConfig objects?

[2022-10-31 20:19] vkadi opened #352 "Add InstanceID in the ENV for fluentd helm charts"
### Is your feature request related to a problem? Please describe.

I want to add new ENV to the KFO helm charts for INSTANCE_ID and I did not see a way to configure that via values.yaml.
I cannot add it like secrets as the instance_id will be dynamic based on the n number of nodes.

Tried like below under fluentd -

   fluentd:
     extraEnv:
+       - name: INSTANCE_ID
+         valueFrom:
+

[2022-10-31 20:25] vkadi commented on #352
@Cryptophobia @javiercri any suggestions for this issue? Is there a way to add INSTANCE_ID to ENV for pods same like K8S_NODE_NAME via values.yaml .
spec.providerID gives the output as `aws:///eu-west-3c/i-0a79903e0d1904f4` and I thought using some hacks I can extract the instanceid and use it further to pass to the fluentd pod but did not have a success that route :(

[2022-11-02 06:39] ishaannarang opened #353 "Opensearch plugin support"
### Is your feature request related to a problem? Please describe.

Hi Team,

Need support for opensearch integration

https://github.com/fluent/fluent-plugin-opensearch#installation

### Describe the solution you'd like

We should be able to send logs to openseach

### Describe alternatives you've considered

_No response_

### Additional context

_No response_

[2022-11-15 14:56] Matt-Dee opened #354 "More of a question"
### Is your feature request related to a problem? Please describe.

No.

### Describe the solution you'd like

Is the operator strictly for use with Docker or does it work with other container technologies?  Containerd?  etc?

### Describe alternatives you've considered

NA

### Additional context

NA

[2022-11-17 12:14] viveksyngh commented on #354
It works for containerd as well. We run this in kubernetes clusters where we use containerd.

[2022-11-30 10:20] Sarps commented on #159
Any progress on this, please?